{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "You returned!",
        "Aha, target spotted!",
        "You came back!?",
        "So you came back!",
		"Target spotted!",
		"It's not over yet!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "You look like a corpse already!",
        "Let's get this over with!",
        "Give it up!",
        "Who the hell taught you how to fight!",
        "Another skirmish, huh.",
	    "You have no chance!",
		"I'll see you in hell!",
        "I don't go down so easy!",
        "We have tactical superiority!",
        "Haha, you came to the wrong place fool!",
        "Oh shit!",
        "Target spotted!",
        "No no no!",
		"I am the wall!",
		"Who do you think you are!",
        "For Liberty! For Freedom! For Humanity!",
        "You won't know what hit your head!",
		"Fucker!",
		"Little shithead!",
		"United we stand!",
		"United!",
		"Who the fuck taught you how to fight!?",
		"Your peaceful ideals have taught you nothing but to fight!",
		"You'll perish in the fires of my gun!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Never mess with me!",
        "Victory!",
        "Target real dead!",
        "Don't try to come back as a clone!",
        "I didn't even break a sweat!",
        "Heh, corpse",
        "Of course I won!",
        "I'm pretty good at this!",
        "That was easy!",
        "Don't come back!",
        "Yes!",
        "That's what you get!",
		"Target neutralised!",
		"Hostile downed!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will find you!",
        "It's not over yet!",
        "Don't come back!",
        "I didn't lose them! One of you lost 'em!",
        "Target lost!",
        "Find them!",
        "Group up and find them!",
        "Come back so I can kill you!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Search for that rascal!",
        "They're getting away!",
        "Where did they go...",
        "Get back here!",
        "Hey come back!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Get back here!",
        "Shit-eater!",
        "Target out of range! Damnit!"
      ]
    }
  }
}
