{
  "reattack" : {
    "default" : {
      "default" : [
		"Target spotted!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
		"Hostile!",
		"Go! Go! Go!",
		"Center-mass!",
		"Weapons hot!",
		"Moving up!",
		"Bandit spotted!",
		"Take positions!",
		"Remain calm and focus fire!",
		"Open fire!",
		"Full-Force forward!",
		"Breach!",
		"Suppressing fire!",
		"We need to bring in reinforcements!",
		"Weapons free!",
		"Weapons free! I say again, weapons free!",
		"Open fire!",
		"Target located! Spotting!"
      ]
    },
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Target neutralized!",
		"Target is no longer a threat!",
		"Target is down!",
		"Target down!",
		"Confirmed kill!",
		"Kill confirmed!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Lost sight of hostile!",
        "Regroup!",
        "We lost sight of the target!",
        "Target lost!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Target lost! Search the area!",
        "Target lost!",
		"Cease fire! Cease fire!",
		"Cease fire!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Over there!",
		"Target located! Spotting!"
      ]
    }
  }
}
