{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_energyimpact"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/hit/gic_halflife2_ric5_lowvol.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }

  ]
}
