{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_energyimpact_small"
    },
//    {
//      "action" : "sound",
//      "options" : [ "/sfx/hit/ue_halflife2_ric5_lowvol.ogg" ]
//    },
    {
      "action" : "light",
      "color" : "orange"
    }

  ]
}
