{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "gic_autocannonmuzzle",
	  "inheritDamageFactor": 0.0,
	  "angleAdjust" : 180
    },
  
	{
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_vehiclefiresmoke/gic_vehiclefiresmoke.animation",
                "approach" : [5, 5],
                "timeToLive" : 4.0,
				"fade": 2.0,
                "finalVelocity" : [-0.5, 3],
	"ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
                "initialVelocity" : [-2, 6],
				"size": 1.5,
                "variance" : {
                  "position" : [-4.5,0.5],
                  "initialVelocity" : [-5, 4],
                  "timeToLive" : 5.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
          ]
        },
    {
      "action" : "light",
      "color" : "orange"
    }

  ]
}
