{
  "helpme" : {
    "default" : {
      "default" : [
	  
"Huh?",
"Wh - what?",
"I - I don't want to die!",
"Guards! Someone!?",
"Help me! Someone!? Anyone!?",
"That's - That's not right!",
"What's happening now!?",
"What's going on here!?",
"Help!",
"Oh no no no...",
"Someone's been attacked!",
"Murder! Call the City Guard!",
"What happened here?",
"What? Somebody's not feeling well!",
"I - I don't wanna die!",
"No no no.",
"Someone! Protect me!",
"I didn't mean any harm!",
"No please!",
"Help!",

"I didn't do anything to you!",
"I need assistance!",
"Don't hurt me!",

"Someone help me, dammit!",
"Help me!",
"I am in need of assistance!"

      ]
    }
	
  },
  "safe" : {
    "default" : {
      "default" : [
        "Oh God...",
        "Thank goodness that's over.",
        "Is it over?",
        "I'm... Alive...",
        "I made it!"
      ]
    }
	
  }
}