{

  "greeting" : {
    "default" : {
      "default" : [
"You have to understand. I'm going to call for help if you don't go.",
"Leave at once, or I'll call for help!",
"I know you shouldn't be here!",
"You've been warned. I'm going to call for help.",
"I can't do anything for you. You'd better run.",
"Whatever you need, I can't help you.",
"You have no right to be here, stranger. Leave at once!",
"I'm going to bring the Guard down on you. Consider yourself warned.",
"I don't recognize you.",
"Be on your way, now!"
      ]
    }
    },
	
	
  "breakObject" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
    },
	

  "converse": {
	
	
    "default" : {
      "default" : [

		
"You have to understand. I'm going to call for help if you don't go.",
"Leave at once, or I'll call for help!",
"I know you shouldn't be here!",
"You've been warned. I'm going to call for help.",
"I can't do anything for you. You'd better run.",
"Whatever you need, I can't help you.",
"You have no right to be here, stranger. Leave at once!",
"I'm going to bring the Guard down on you. Consider yourself warned.",
"I don't recognize you.",
"Be on your way, now!"

      ]
    }
	
	
  }
}