{
  "reattack" : {
    "default" : {
      "default" : [
        "Come on, let's get this guy!",
        "Dump you in the river!",
        "For the Free-Thinkers!",
        "Get around him!",
        "Just! Die!",
        "I'll kill you!",
		"Eat metal!",
		"You're gonna bleed!",
		"Rush him!",
		"Get him!",
		"Ah-HA!",
		"Help!",
		"Need some help over here!",
		"Someone help me out!",
		"He's here!",
		"To arms!",
		"Bastard!",
		"Take it!",
		"Fall down already!",
		"Take out his legs!",
		"Go!",
		"Move it!",
		"Die, idiot!",
		"Whiskey for a week if you kill him!",
		"Fellows, to me!",
		"Get behind him!",
		"I need more men!",
		"Come here, low-life!",
		"Come closer, worm!",
		"Come on, bleed!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Come on, let's get this guy!",
        "Dump you in the river!",
        "For the Free-Thinkers!",
        "Get around him!",
        "Just! Die!",
        "I'll kill you!",
		"Eat metal!",
		"You're gonna bleed!",
		"Rush him!",
		"Get him!",
		"Ah-HA!",
		"Help!",
		"Need some help over here!",
		"Someone help me out!",
		"He's here!",
		"To arms!",
		"Bastard!",
		"Take it!",
		"Fall down already!",
		"Take out his legs!",
		"Go!",
		"Move it!",
		"Die, idiot!",
		"Whiskey for a week if you kill him!",
		"Fellows, to me!",
		"Get behind him!",
		"I need more men!",
		"Come here, low-life!",
		"Come closer, worm!",
		"Come on, bleed!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Feed him to the hounds.",
        "You're fish bait now.",
        "To the void with you.",
        "Typical.",
		"All mouth, no trousers.",
		"This was too easy.",
		"Now the rats can fight over your guts.",
		"I'll have a drink tonight for the good men you killed.",
		"Fish bait."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "If he comes back I'll earn another promotion.",
        "Alright, you get off this time.",
        "Alright, I give up.",
		"How did I lose him?",
		"Keep your eyes open. He could be back.",
		"Run, little rat.",
		"Coward got away.",
		"Screw it, I'm going back.",
		"Forget it, I'm going back."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "I'll find ya, you autofish.",
        "I'll flush you out.",
        "I'll find you.",
		"Oh, I'll find you.",
		"You'll keep runnin' if you know what's good for you.",
		"Keep skulkin' around.",
		"We got a prowler on the loose.",
		"Call out if you see him.",
		"We know you're here!",
		"Watch out, we got someone skulking around.",
		"Let's find that son of an autofish.",
		"Next time, we slit his gut open!",
		"You won't stay hidden for long!",
		"Can't stay hidden forever.",
		"Gotta be here, somewhere.",
		"Keep running!",
		"Shout if you see him.",
		"Let's see what happens if I get another crack at this guy.",
		"He's slippery, check everywhere.",
		"Eyes sharp, call out to each other if you spot him.",
		"Present yourself! Don't make me find you!",
		"When I find you, it's gonna be bad.",
		"I'm going to find you, whoever you are, and then I'll demonstrate your failings.",
		"I know you're here somewhere, scum.",
		"You keep going.",
		"Think you're being quiet?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "You're going down!",
        "Go down already!",
        "Fall down already!",
        "Hit him!"
      ]
    }
  }
}
