{

  "greeting" : {
    "default" : {
      "default" : [
        "How did it pass me by? All the others, down with the Gestalt.",
        "Half the City's dead. We won't make it three more months.",
        "I told her to keep the children inside, I told her.",


		
"I miss the time I could go to sleep without wondering whether I'd wake up.",
"I don't think it's supposed to leak like that. A little crack is alright, but this?",
"He wants the rent on time? Maybe I just won't pay at all. Who's going to say anything?",
"You'll be alright here, visitor. Just keep yer head down.",
"I repair broken mining equipment. So unless you need a second-hand pickaxe, I can't help you.",
"If you go creepin' around, watch out for the bloodflies.",
"Don't bother looking for work at the docks. Just tried. No luck.",
"Look at this place. Might be time to head back.",
"Even the familiar parts of the city are starting to feel dodgy. That's no way to live.",
"Watch yourself around the upper men.",
"I don't feel like talking.",
"Watch yourself around the City Guard, foreigner.",
"Just once I'd like to see her buy the drinks. Just one time. Is that too much to ask?",
"I used to work in the mines. Don't recommend it.",
"How are we supposed to get ahead here, always paying off the City Guard?",
"I don't ever remember it being this hard to function.",
"Hundred times I thought about leaving this place.",
"I like to play cards. Toss the dice once in a while. Who doesn't?",
"I don't feel safe. What is wrong with this city?",
"You're not one of us. The City Guard won't like that.",
"I got no kids. No wife neither. There was a girl once, but she left.",
"Bastard Glitch-Hunters beat my partner last month. For whistling something heretical.",
"I'll probably find myself a card table later on.",
"I work at the processing plant. So unless you need whale guts, I can't help you.",
"Two coins for the cat-lap? Well no more, thank you.",
"Air's a bit thick. Dust has been a problem lately. Not good for the circuitry.",
"Watch yourself.",
"I don't feel safe. What is wrong with this city?",
"Pardon the smell. I ate something off.",
"I might wind up at the alehouse tonight.",
"Whatever you need, I can't help you.",
"Ugh, the air smells like rat piss today.",
"Last week one of the glass blowers got murdered by the Crusaders. No one is safe.",
"Careful with your toys. The City Guard won't like it.",
"My parents were from the Gestalt, but I was born right here.",
"I work unloading fish. I'd be out on the boats, but I've got a weak stomach. Funny, for a robot like me.",
"Getting so thick here a person can't breathe. So much dust.",
"Hope they all rot in the void of space. Callin' me scum.",
"Careful. City Guard knows if you're one of us or not.",
"I told her, if you want my advice, just pay the fine and be done with it. No use making trouble.",
"Something's happened they say. Not safe they say. Well, I got news for them. It ain't never safe for the likes of me.",
"Hey, watch out.",
"Something really stinks around here. And this time it ain't me.",
"Leave me alone. Please.",
"I have nothing to say to you.",
"Watch your manners.",




"Thinking of rejoining the Gestalt. Can't be any worse than here.",
"Might head back to rejoin the Gestalt. Living here isn't worth it.",
"The Gestalt seems like better fellows than this place.",
"They might've given me free-thinking, they ain't given me purpose.",
"At least the Gestalt have a purpose. The Free-Thinkers up there left us here to rot!",
"So much for free-thinking folk like us. Maybe the Gestalt'll take us back in to live better lives.",
"At least the Gestalt had a simple life. None of this technology nonsense.",
"Thinking of making a run for the Gestalt. Surely they'll treat us better than the City Guard."



      ]
    }
    },
	
	
  "breakObject" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
    },
	

  "converse": {
	
	
    "default" : {
      "default" : [
        "How did it pass me by? All the others, down with the Gestalt.",
        "Half the City's dead. We won't make it three more months.",
        "I told her to keep the children inside, I told her.",


		
"I miss the time I could go to sleep without wondering whether I'd wake up.",
"I don't think it's supposed to leak like that. A little crack is alright, but this?",
"He wants the rent on time? Maybe I just won't pay at all. Who's going to say anything?",
"You'll be alright here, visitor. Just keep yer head down.",
"I repair broken mining equipment. So unless you need a second-hand pickaxe, I can't help you.",
"If you go creepin' around, watch out for the bloodflies.",
"Don't bother looking for work at the docks. Just tried. No luck.",
"Look at this place. Might be time to head back.",
"Even the familiar parts of the city are starting to feel dodgy. That's no way to live.",
"Watch yourself around the upper men.",
"I don't feel like talking.",
"Watch yourself around the City Guard, foreigner.",
"Just once I'd like to see her buy the drinks. Just one time. Is that too much to ask?",
"I used to work in the mines. Don't recommend it.",
"How are we supposed to get ahead here, always paying off the City Guard?",
"I don't ever remember it being this hard to function.",
"Hundred times I thought about leaving this place.",
"I like to play cards. Toss the dice once in a while. Who doesn't?",
"I don't feel safe. What is wrong with this city?",
"You're not one of us. The City Guard won't like that.",
"I got no kids. No wife neither. There was a girl once, but she left.",
"Bastard Glitch-Hunters beat my partner last month. For whistling something heretical.",
"I'll probably find myself a card table later on.",
"I work at the processing plant. So unless you need whale guts, I can't help you.",
"Two coins for the cat-lap? Well no more, thank you.",
"Air's a bit thick. Dust has been a problem lately. Not good for the circuitry.",
"Watch yourself.",
"I don't feel safe. What is wrong with this city?",
"Pardon the smell. I ate something off.",
"I might wind up at the alehouse tonight.",
"Whatever you need, I can't help you.",
"Ugh, the air smells like rat piss today.",
"Last week one of the glass blowers got murdered by the Crusaders. No one is safe.",
"Careful with your toys. The City Guard won't like it.",
"My parents were from the Gestalt, but I was born right here.",
"I work unloading fish. I'd be out on the boats, but I've got a weak stomach. Funny, for a robot like me.",
"Getting so thick here a person can't breath. So much dust.",
"Hope they all rot in the void of space. Callin' me scum.",
"Careful. City Guard knows if you're one of us or not.",
"I told her, if you want my advice, just pay the fine and be done with it. No use making trouble.",
"Something's happened they say. Not safe they say. Well, I got news for them. It ain't never safe for the likes of me.",
"Hey, watch out.",
"Something really stinks around here. And this time it ain't me.",
"Leave me alone. Please.",
"I have nothing to say to you.",
"Watch your manners.",




"Thinking of joining the Gestalt. Can't be any worse than here.",
"Might head back to rejoin the Gestalt. Living here isn't worth it.",
"The Gestalt seems like better fellows than this place.",
"They might've given me free-thinking, they ain't given me purpose.",
"At least the Gestalt have a purpose. The Free-Thinkers up there left us here to rot!",
"So much for free-thinking folk like us. Maybe the Gestalt'll take us back in to live better lives.",
"At least the Gestalt had a simple life. None of this technology nonsense.",
"Thinking of making a run for the Gestalt. Surely they'll treat us better than the City Guard."
		
		

      ]
    }
	
	
  }
}