{
  "reattack" : {
    "default" : {
      "default" : [
        "Aggressive. Move!",
        "Aggressive. Go!",
        "Aggressive. Kill the bastard!",
		"Aggressive. To the hounds, wench!",
		"Aggressive. Death's head upon a mop-stick!",
		"Daring. First lad to kill the bastard and the next round's on me!",
		"Daring. Kill the bastard, and double pay for the next week!",
		"Daring. First claim on the bastard's hat!",
		"Aggressive. Villain, I have done thy mother!",
		"Aggressive. The fires fade, and I'm the dawn, bastard!",
		"Daring. First blood gets first rounds on me!",
		"Shocked. There! Bandits!",
		"Aggressive. Thine mother was a wench!",	
		"Aggressive. Villain, I have done thy sister!",	
        "Daring. To battle!",
        "Courageous. Forward you dogs!",
		"Threatening. That's a nice head you have on your shoulders."

      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Aggressive. Move!",
        "Aggressive. Go!",
        "Aggressive. Kill the bastard!",
		"Aggressive. To the hounds, wench!",
		"Aggressive. Death's head upon a mop-stick!",
		"Daring. First lad to kill the bastard and the next round's on me!",
		"Daring. Kill the bastard, and double pay for the next week!",
		"Daring. First claim on the bastard's hat!",
		"Aggressive. Villain, I have done thy mother!",
		"Aggressive. The fires fade, and I'm the dawn, bastard!",
		"Daring. First blood gets first rounds on me!",
		"Shocked. There! Bandits!",
		"Aggressive. Thine mother was a wench!",	
		"Aggressive. Villain, I have done thy sister!",	
        "Daring. To battle!",
        "Courageous. Forward you dogs!",
		"Threatening. That's a nice head you have on your shoulders."

      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Satisfied. Another to the tally list.",
        "Gratified. Another job well done.",
        "Excited. Still up, still alive!",
        "Exhausted. I need to get more exercise.",
        "Pleased. What a triumph.",
        "Proud. What an excellent display of my own skill.",
        "Proud. Next round is on me!",
        "Proud. Come on lads! More where that came from!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "..."

      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Frustrated. Fussock!",
        "Angry. Addle Pate!",
        "Frustrated. Whiffle-waffle...",
        "Angry. Where is he!?",
		"Irritated. Gone!"





      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Frustrated. Fussock!",
        "Angry. Addle Pate!",
        "Frustrated. Whiffle-waffle!",
        "Angry. Hit him!",
		"Irritated. Bloody get down here!"
      ]
    }
  }
}
