{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "gic_largeexplosionknockback_indiscriminate",
	  "inheritDamageFactor": 0.25
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 115
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 115
    },
	
	
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 115
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 115
    },   
	
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 115
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 115
    },   
	
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 115
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_shrapnel1",
	  "fuzzAngle": 115
    },   
	
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 115
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 115
    },   
	
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 115
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 90
    },    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 75
    },{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_burningshrapnel",
	  "fuzzAngle": 115
    },   
	
	{
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_vehicledustysmoke/gic_vehicledustysmoke.animation",
                "approach" : [5, 5],
                "timeToLive" : 4.0,
	"ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
				"fade": 2.0,
                "finalVelocity" : [0.5, 3],
                "initialVelocity" : [2, 6],
				"size": 6,
                "variance" : {
                  "position" : [4.5,0.5],
                  "initialVelocity" : [5, 4],
                  "timeToLive" : 5.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
          ]
        },    
	{
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_vehiclefiresmoke/gic_vehiclefiresmoke.animation",
                "approach" : [5, 5],
                "timeToLive" : 4.0,
				"fade": 2.0,
                "finalVelocity" : [-0.5, 3],
	"ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
                "initialVelocity" : [-2, 6],
				"size": 6,
                "variance" : {
                  "position" : [-4.5,0.5],
                  "initialVelocity" : [-5, 4],
                  "timeToLive" : 5.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
          ]
        },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "ember",
				"size" : 1.0,
				"color" : [253, 143, 77, 150],
                "approach" : [5, 5],
                "timeToLive" : 2.0,
				"fade": 2.0,
                  "position" : [0.5,-2.5],
                "finalVelocity" : [0.0, 2],
				"layer" : "back",
				"ignoreWind" : false,
				"collidesForeground" : true,
				"collidesLiquid" : true,
                "initialVelocity" : [12.5, 0.5],
                "variance" : {
                  "position" : [2.5,-2.5],
                  "initialVelocity" : [10, 0],
                  "timeToLive" : 2.5,
                  "rotation" : 180,
				"layer" : "front",
				"size" : 2
                }
              }
            }
          ]
            }
          ]
        },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "ember",
				"size" : 1.0,
				"color" : [253, 143, 77, 150],
                "approach" : [5, 5],
                "timeToLive" : 2.0,
				"fade": 2.0,
                "finalVelocity" : [-0.0, 2],
				"layer" : "back",
                  "position" : [-0.5,-2.5],
				"ignoreWind" : false,
				"collidesForeground" : true,
				"collidesLiquid" : true,
                "initialVelocity" : [-12.5, 0.5],
                "variance" : {
                  "position" : [-2.5,-2.5],
                  "initialVelocity" : [-10, 0],
                  "timeToLive" : 2.5,
                  "rotation" : 180,
				"layer" : "front",
				"size" : 2
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_weathersmoke/gic_weathersmoke.animation",
                "approach" : [5, 5],
                "timeToLive" : 8.0,
				"fade": 2.0,
                "finalVelocity" : [0.5, 0.75],
	"ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
                "initialVelocity" : [2, 0.25],
				"size": 1.5,
                "variance" : {
                  "position" : [4.5,0.5],
                  "initialVelocity" : [5, 0.5],
                  "timeToLive" : 5.5,
                  "rotation" : 180
                }
              }
            }
          ]
            }
          ]
        },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_weathersmoke/gic_weathersmoke.animation",
                "approach" : [5, 5],
                "timeToLive" : 8.0,
				"fade": 2.0,
                "finalVelocity" : [-0.5, 0.75],
	"ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
                "initialVelocity" : [-2, 0.25],
				"size": 1.5,
                "variance" : {
                  "position" : [-4.5,0.5],
                  "initialVelocity" : [-5, 0.5],
                  "timeToLive" : 5.5,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_weathersmoke/gic_weathersmoke.animation",
                "approach" : [5, 5],
                "timeToLive" : 5.0,
                "finalVelocity" : [0, 2],
                "initialVelocity" : [6, 0.5],
	"ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
				"size": 1,
                "variance" : {
                  "position" : [4.5,0.5],
                  "initialVelocity" : [2, 0.5],
                  "timeToLive" : 5.5,
                  "rotation" : 180,
				"size": 0.25
                }
              }
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_weathersmoke/gic_weathersmoke.animation",
                "approach" : [5, 5],
                "timeToLive" : 5.0,
                "finalVelocity" : [0, 2],
                "initialVelocity" : [-6, 0.5],
	"ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
				"size": 1,
                "variance" : {
                  "position" : [-4.5,0.5],
                  "initialVelocity" : [-2, 0.5],
                  "timeToLive" : 5.5,
                  "rotation" : 180,
				"size": 0.25
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/gic_panzerfaust_detonate_01.ogg", "/sfx/gun/gic_panzerfaust_detonate_02.ogg", "/sfx/gun/gic_panzerfaust_detonate_03.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 24,
      "backgroundRadius" : 6,
      "explosiveDamageAmount" : 2.0,
      "delaySteps" : 3
    }

  ]
}
