{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_suppressionbreak_largeknockback",
      "config" : {
        "statusEffects" : [ "gic_suppressedProtection", "gic_suppressed_vulnerabilityProtection", "gic_suppressed_redflashProtection" ]
      }
    }

  ]
}
