{
  "reattack" : {
    "default" : {
      "default" : [
	  
        "Arise! All who refuse to be slaves!",
        "Let our flesh and blood become our new Great Wall!",
		"As the undead nation faces its greatest peril, all forcefully expend their last cries!",
		"Arise! Arise! Arise!",
		"Arise!",
		"Our million hearts beat as one!",
		"Brave the enemy's fire, March on!",
		"Brave the enemy's fire!",
		"March on!",
		"March on! March on! On!",
	  
	  
		"Qi lai! Bu yuan zuo nu li de ren men!",
		"Ba wo men de xue rou zhu cheng wo men xin de chang cheng!",
		"Mei ge ren bei po zhe fa chu zui hou de hou sheng!",
		"Qi lai!",
		"Qi lai! Qi lai! Qi lai!",
		"Wo men wan zhong yi xin!",
		"Mao zhe di ren de pao huo!",
		"Qian jin!",
		"Qian jin! Jin!"

		
		
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
	  
        "Arise! All who refuse to be slaves!",
        "Let our flesh and blood become our new Great Wall!",
		"As the undead nation faces its greatest peril, all forcefully expend their last cries!",
		"Arise! Arise! Arise!",
		"Arise!",
		"Our million hearts beat as one!",
		"Brave the enemy's fire, March on!",
		"Brave the enemy's fire!",
		"March on!",
		"March on! March on! On!",
		
		"Qi lai! Bu yuan zuo nu li de ren men!",
		"Ba wo men de xue rou zhu cheng wo men xin de chang cheng!",
		"Mei ge ren bei po zhe fa chu zui hou de hou sheng!",
		"Qi lai!",
		"Qi lai! Qi lai! Qi lai!",
		"Wo men wan zhong yi xin!",
		"Mao zhe di ren de pao huo!",
		"Qian jin!",
		"Qian jin! Jin!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
//		"One down.",
//		"You'll be back. I know it.",
//		"Another one down.",
//		"Eliminated.",
		"..."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "???",
        "?"

      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "???",
        "?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "!?",
        "???",
        "?"
      ]
    }
  }
}
