{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/games/gic_bombdefusalgame/consoleheader.png",
      "fileBody" : "/interface/games/gic_bombdefusalgame/consolebody.png"
    },
    "gameCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [1, 35, 315, 257],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    }
  },

  "canvasClickCallbacks" : {
    "gameCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "gameCanvas" : "canvasKeyEvent"
  },

  "scripts" : [
    "/interface/games/gic_bombdefusalgame/gic_bombdefusalgame.lua"
  ],
  "scriptDelta" : 1,

  "toolRockChance" : 0.1,
  "randomRockChance" : 0.3,

  "treasureFoundSound" : "/sfx/melee/gic_sekiro_shing.ogg",
  "treasureOpenSound" : "/sfx/melee/gic_sekiro_mortalblade_sheathe.ogg",

  "loseSound" : "/sfx/alerts/gic_lockedbeep_rapid.ogg",
  "incompleteSound" : "/sfx/alerts/gic_lockedbeep_rapid.ogg",
  "winSound" : "/sfx/gic_dishonored_paintingacquired.ogg",

  "fossilDamageSound" : "/sfx/melee/gic_bloodborne_large-weapon-hit.wav",

  "clearDirtSound" : "/sfx/armor/gic_bloodborne_body-armor-4.wav",
  "clearRockSound" : "/sfx/armor/gic_bloodborne_body-armor-5.wav",

  "treasureConfig" : {
    "none" : {"size" : [0, 0], "image" : ""},
    "normal" : {"size" : [2, 2], "image" : "/interface/games/gic_bombdefusalgame/images/treasurechest.png"},
    "rare" : { "size" : [3, 3], "image" : "/interface/games/gic_bombdefusalgame/images/raretreasurechest.png" }
  }
}
