{
  "helpme" : {
    "default" : {
      "default" : [
        "Fuck! I'm being assaulted!",
        "Help!",
        "Have mercy!",
        "I'm unarmed! Oh god!",
        "Run for your lives!",
        "Please! I don't want to die!",
        "Please! Have mercy on my soul!",
		"It's a gunman!",
		"It's a shooter! Take cover!"
      ]
    },
    "apex" : {
      "default" : [
        "Why are you doing this!?",
        "Please! Stop it!",
        "It's a bandit! Somebody help!",
        "Security! Police! Somebody!",
        "Somebody help me!",
        "Alarms! Somebody alert security!"
      ]
    },
    "avian" : {
      "default" : [
        "I'm unarmed!",
        "Somebody help!",
        "I'm being chased! Somebody, help me!",
        "Run!",
        "Somebody help me!",
        "I'm being attacked!"
      ]
    },
    "glitch" : {
      "default" : [
        "Scared. Gaaah! Help me!",
        "Frightened. Don't hurt me!",
        "Astounded. Why is this happening!?",
        "Afraid. Get away from me! Help!",
        "Terrified. Save me!",
        "Shocked. What's happening!? Stop it!"
      ]
    },
    "floran" : {
      "default" : [
        "Ssshit!",
        "What's wrong with you!?",
        "I can't defend mysself!",
        "Fuck!",
        "I don't want to die!",
        "Gunman!"
      ]
    },
	
    "hylotl" : {
      "default" : [
        "Please! Don't do this!",
        "You don't need to do this!",
        "Why do this to us!?",
        "We're just civilians!",
        "Why would you do this to us!?",
        "Have mercy! Please!"
      ]
    }
	
  },
  "safe" : {
    "default" : {
      "default" : [
        "Oh god... Oh fuck...",
        "Thank goodness that's over.",
        "Is it over?",
        "I'm... Alive...",
        "I made it!"
      ]
    },
    "avian" : {
      "default" : [
        "Still alive. Still got feathers.",
        "What an ordeal.",
        "Still alive!",
        "That was close.",
        "I'm alright!"
      ]
    },

    "floran" : {
      "default" : [
        "Why...",
        "It's true then...",
        "You can't escape war...",
        "There's only death...",
        "Still... Alive..."
      ]
    },
	
    "hylotl" : {
      "default" : [
        "I can't stay here any longer...",
        "Why would we be here to suffer?",
        "Suffering... Pointless...",
        "Pointless suffering...",
        "Why do we do this to eachother?"
      ]
    }
	
  }
}