{
  "reattack" : {
    "default" : {
      "default" : [
        "Target!",
        "Target ssspotted!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Get down on the ground!",
        "Give up!",
        "Down on the ground, now!",
        "Handss up! Drop your weapon!",
        "You ssshould run!",
        "I'll fucking kill you!",
        "Basss'tard!",
        "Get down! On the ground!",
        "On the ground! Do it!",
        "Die!",
        "On your kneesss!",
        "Come on, asss'hole!",
        "Drop your gun!",
        "I'll ssshoot you!",
        "Get down on the ground!",
        "Get down! Get down on the ground!",
        "Don't make me do thisss!",
        "Curssse your mother!",
        "Get'em ladsss!",
        "Go fuck a dog!",
        "I'll fuck your sssissster!",
        "Eat my assssss!",
        "Sssuck my dick!",
        "Get gutted!",
        "I will fucking murder you!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Gottem",
        "Target iss down!",
        "Target neutralisssed!",
        "Hostile downed!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I lossst the target!",
        "Fuck!",
        "Ssshit!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Get back here!",
        "Hey come back!",
        "What are you? Afraid?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Come here, damn you!",
        "Get back here!"
      ]
    }
  }
}
