{

  "greeting" : {
    "default" : {
      "default" : [
        "Sup?",
        "Hello.",
        "Hi.",
        "How's it going?",
        "How's it?",
        "Yo!",
        "Hey, great to see you.",
        "Hey, what's up?",
        "Oh hey, how's it going?",
        "You seem like a nice sort.",
        "Thanks for dropping by.",
        "Great to see you, pal.",
        "Hey, nice to meet you.",
        "Ace meeting you.",
        "Nice meeting ya!",
        "What's up?",
        "Hey.",
        "Hey! Welcome!",
        "Alright?",
        "Oh hey.",
        "You alright?",
        "You good?",
        "Alright mate?",
        "Welcome!",
        "What you up to?",
        "Hellooo.",
        "Good to see you.",
        "How're things?",
        "How's life treating you?",
        "Hey, what's happening?"
      ]
    }
    },

  "converse": {
	
	
	
	

	
	
	
	
	
	
    "default" : {
      "default" : [
        "Theress no bloom in ssspace.",
        "You look good.",
        "Fire is sscary, don't you agree?",
        "I don't even know why I applied to live on this hell-hole.",
        "Ssometimes, I have to watch the cropsss grow becausse I'm sso bored.",
        "The sunlight is refreshing.",
        "Sstranger ssstranger.",
        "Sssuspicious..",
        "Move along pleasse.",
        "I have an education, thanks.",
        "Nothing for me to sssay.",
        "Too many restlessss nights...",
        "I was a hunter once.",
        "Planting seeds makes me happy.",
        "An hour from now, I will earn another money thing.",
        "Let'sss keep it moving, fella.",
        "There must be so many foressts and jungles in the Galaxy.",
        "What is \"Porn\"?",
        "It's quite nice living here.",
        "You're nice. We can share meat ssometime.",
        "There's nothing to be afraid of anymore.",
        "Ssstabby ssstabby ssstabby!",
        "Floran lonely.",
        "Not even want to ssstab you.",
        "What'ss our purpose in life? Tell me!",
        "Can't talk. I lost something.",
        "Do you have any friends?",
        "I make ssspears in during break times during work hours. Easy money.",
        "I've conssidered becoming a bounty hunter.",
        "I fear nothing.",
        "Place here is nice, right?",
        "Welcome, mate.",
        "Friend?",
        "You want to ssstab thingss? Aim for the neck.",
        "We sshould go bounty hunting together.",
        "Welcome, fella.",
        "You good at sstabbing?",
        "Not now, man.",
        "No more childhood traditionsss here. It'ss all work.",
        "Look alive...",
        "I'm gonna dance later. Dancing is almost as good as hunting.",
        "Make yoursself at home. Not like we have anything else to do.",
        "We're not becoming friendss.",
        "This is good time to be alive.",
        "I've heard ssome troubling rumors.",
        "Prosperity leads to happinessss.",
        "Stare at me all you want. I'm not a sslave.",
        "I am not your friend. Go away.",
        "I've enlissted for the Floran Liberation Front. I'm moving out ssoon.",
        "Wanna hunt some primitivess later?",
        "Office work sure beats dying to a bullet...",
        "Goddamn tired...",
        "Food stamps are such a pain.",
        "Got any sspare Microcredits?",
        "Dancing looks weird here.",
        "Do you make sspears? Good way to make money.",
        "Neat.",
        "I don't sshare your interests.",
        "Nothing to ssee here.",
        "Not gonna sstab.",
        "What'sss your favourite type of plant?",
        "Have you handed in your bounty vouchers?",
        "You have training in firearmss?",
        "Can you read? I hope you can."
      ]
    }
	
	
  }
}