{
  "hail" : {
    "default" : {
      "default" : [
        "Welcome.",
        "ssstay out of trouble.",
        "A visssitor?",
        "Feel free to take a look around.",
		"Move along.",
        "Nothing to sssee here.",
        "Don't try anything funny.",
        "Hello.",

"My brother dessserted the FLF, I hope I never have to sssee him on the battlefield.",
"I thought about ssswitching sssidesss, but I'd ssstill be fighting thossse I love. There'sss no winning.",
"Oh hell, how many men doesss it take to guard an outpossst.",
"When we were ssstationed at the northern outpossst, they alwaysss ssserved Earthern food, I got ssso sssick of it!",
"I'm ssso hungry.",
"Damn. The hell am I sssupposssed to look for?",
"We'll get ssspacessshipsss sssoon. I'm sssure of it.",

"Once we're off thisss planet, we'll take the next.",
"Enough with the food talk.",
"I wonder what the radio isss like.",
"You know who I want to kill, thossse Greenfinger bassstardsss.",
"It'sss on usss to sssave thisss planet. We have to make it right.",
"Fuck thisss war. Fuck the Greenfinger. They ssstarted thisss fight, we'll end it.",
"Our numbersss are up ever sssince unification.",
"Agh. sssucksss here.",

"Yesss, it'sss alwaysss raining fire. What did you expect?",
"I sssay again, the sssky isss alwaysss on fire!",
"sssky isss on fire, asss usssual.",
"Yep, sssky'sss ssstill on fire. Out.",
"Nothing to report here. Jussst more bloody fire.",


"Today isss going to be different. I feel it.",
"I am ssso tired of lissstening to your voice.",
"I ssstopped lissstening to you five minutesss ago.",
"My sssidearm keepsss jamming, piece of ssshit.",
"Thisss isss the bessst working gun I've ever had.",
"Agh, I lossst my canteen again.",
"Keep an eye on your ssstuff, sssome of the other guysss have sssticky fingersss.",
"sssometimesss I wisssh it wasss quieter.",
"Ya, and you hate when we're in the middle of a fucking firefight!",
"You know me, brother. I'm a hater, not a lover.",
"Thisss isss the fassstessst way to unify a ssspeciesss, but it'sss ssstill taking ssso goddamn long.",
"There'sss got to be a better way to fund an army than jussst old cachesss of weaponsss.",

"Huh?",
"What wasss that?",
"What the? sssame sssound asss before?",
"There it isss again.",
"I heard a noissse.",
"Nothing after all.",
"I mussst be imagining thingsss.",
"Probably jussst the wind or animalsss or my imagination.",


"No more of the old homesss, I guessssss.",
"Ssstill better than nothing.",
"The Protectorate brought war on themssselvesss.",
"Sssomething I ate isssn't sssitting well.",
"The Greenfingersss dessserve their fate.",
"Where'sss sssome cover when you need it?",
"I bet that ssstill wakesss you up at night.",
"There will be no refugeesss when we are done."
		
         
		
		
		
		
		
		
		
      ]
    }

  }
}