{

  "greeting" : {
    "default" : {
      "default" : [
        "..."
      ]
    },
    "floran" : {
      "default" : [
        "..."
      ]
	 }
    },

  "converse": {
    "default" : {
      "default" : [
        "Mercy!",
        "I don't want to die.",
        "It wassn't my choice!",
        "I'm not a primitive. I just wanted a sssimple life.",
        "Have mercy!",
        "Why?",
		"It wass a peaceful life...",
		"Everything...",
		"Doess thisss mean anything to you?",
		"What doesss thiss even mean?",
		"I won't die without a fight.",
		"We're holding on bessst we can.",
		"What does genocide mean?",
		"Was this worth it?",
		"What worth does all this have?",
		"The touristsss have a one-way ticket.",
		"The entire planet isss under their control.",
		"Sstupid war...",
		"Pointless!",
		"The sso-called 'Liberatorsss' fight without cause.",
		"They kill because they are jusst like usss.",
		"They are sssame as usss.",
		"We will fight, and they will die.",
		"Anyone who doessn't agree with them? They all die the ssame way.",
		"They wisssh to burn their own hisstory.",
		"There's nothing here for usss.",
		"We sshould leave sssoon."

	  ]
    }
  },
  
  
  
  "hail": {
    "default" : {
      "default" : [
        "We'll show them...",
        "They made a mistake coming here...",
        "Stupid invaders.",
        "They make dealsss with treacherous foreignerss.",
        "No point. No point in it at all.",
        "No point.",
		"I hope everything can turn back to normal.",
		"There'sss nothing left for uss.",
		"Doess thisss mean anything to you?",
		"What doesss thiss even mean?",
		"I won't go down without a fight.",
		"We're holding on bessst we can.",
		"Wass thisss worth it?",
		"What worth doess all this have?",
		"The entire planet isss under their control.",
		"Sstupid war...",
		"Pointless!",
		"In the end, they're just like usss.",
		"They kill becausse they are jusst like usss.",
		"They are sssame as usss.",
		"They die ssame as usss."

	  ]
    }
  }
  
  
}