{
  "reattack" : {
    "default" : {
      "default" : [
        "Target!",
        "Target ssspotted!",
        "Enemy!",
        "Enemy over there!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Fuck you! Fuck you! FUCK YOU!",
        "Like humansss sssay! Fuck off!",
        "Give up!",
        "Foreign ssslaves!",
        "Traitorsss!",
        "You betray our kind!",
        "What do you think you will achieve!?",
        "Enemy!",
        "Enemy over there!",
        
        "You ssshould run!",
        "They said you started the fire!",
        "Go away! GO AWAY!",
        "More assshesss for the gravesss!",
        "Die! Just die already!",
        "Die!",
        "You'll burn in your own guilt!",
        "I'll ssshoot you!",
        "Your head is mine!",
        "Leave already!",
        "This is no place for you!",
        "Don't make me do thisss!",
        "Kill me! Kill yourssself! Make it end!",
        "You commit intercourssse with poptopsss!",
        "I will gut you!",
        "I will murder you!",
        "Like a hunt, we will track you down forever!",
        "I will hunt you all like animalsss!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Vengeance!",
        "Enemy iss down! Now put out the flamesss!",
        "I killed an enemy!",
        "Killing them didn't stop the fire! What we do?!"
      ]
    }
  },

"lostTarget" : {
    "default" : {
      "default" : [
        "I lossst the target!",
        "No!",
        "Ssshit!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Pissss off!",
        "Don't come back!",
        "The firesss will get them..."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "I hate you!",
        "I hate this!",
        "I hate everything!",
        "Sssuffer in sssilence then!"
      ]
    }
  }
}
