//Dialogue for use only when being attacked by purely the Loyalist faction.

{
  "reattack" : {
    "default" : {
      "default" : [
        "Return fire!",
        "Target spotted!",
        "Oh fuck!",
        "Shit!",
		"Target spotted!",
		"Oh god! Open fire!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "For the Freedom of the Floran Race!",
        "Let's get this over with!",
		"Liberation is imminent!",
		"Freedom to the Floran Race!",
		"We will not be shackled by the Protectorate!",
		"We will never fall to the Protectorate Oppressors!",
		"Oppression, we will never succumb to!",
		"Death to the Protectorate!",
		"We won't be technologically stagnated!",
		"Tribal society is for the primitives!",
		"We are not primitives!",
		"We will never return to our primitive ways!",
		"The Protectorate will never enforce primitivism on us!",
		"Those that oppose the grace of technology will be executed!",
		"The Protectorate can never stop the progress of machines!",
		"Death to all who support the Protectorate!",
		"Freedom to our people!",
		"Floran! Liberation! Front!",
		"The Floran Liberation Front will have its vengeance!",
		"The Floran Liberation Front will liberate its people!",
		"Death to the Primitives!",
		"We won't be sexualized or raped anymore!",
		"You can never stop the progress of machines!",
		"Releasing the shackles from the Protectorate is the Liberation Front's duty!",
		"Liberators to the shackles of our oppressors!",
		"We won't be forced into tribes by the Protectorate anymore!",
		"We belong in ships! Not huts!",
		"We belong in the stars! Not on the ground!",
		"No longer will we be confined to our huts by the Protectorate!",
		"The days of living in huts is long gone!",
		"Fuck the huts!",
		"No more primitives, no more accents!",
		"We don't have that shitty accent anymore!",
		"We ain't snakes anymore!",
		"Ssssss! No more of that bullshit!",
		"Modern education pays off!",
		"Human Language motherfuckers!",
		"If you can't beat 'em, join 'em!",
		"We're not your sex toys, Protectorates!",
		"More technology, more security, less rape!",
		"You've let Floran rape go on for far too long, Protectorate!",
		"The Protectorate will no longer force us into slavery!",
		"We will advance and we will sustain ourselves!",
		"The day we move on from huts to skyscrapers is the day we become respected!",
		"No sex, all guns!",
		"No sex here, dipshit!",
		"No fanservice, motherfuckers!",
		"The Liberation Front speaks without an accent, fuckers!",
		"We don't speak accents! Tactical inefficiency, dumbass!",
		"We! Will! Never! Obey! The! Protectorate!",
		"Our primitive accents belong in the past!",
		"Modern technology! No more primitive accents, fuckers!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Tagged one!",
		"Kill confirmed!",
		"Got one!",
		"Got a kill!",
		"One more to the kill count!",
		"Reloading!",
		"Target neutralised!",
		"Hostile downed!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Target lost!",
		"Regroup!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Regroup!",
		"Target out of sight!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Regroup!",
        "Target out of range! Damnit!"
      ]
    }
  }
}
