{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "gic_plasmaimpact_energydisruptor",
      "config" : {
        "statusEffects" : [ "gic_advancedmunition_overcharged_energydisruptor", "electrified" ]
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/gic_bloodborne_magic-bomb.wav" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    }

  ]
}
