{
  "reattack" : {
    "default" : {
      "default" : [
        "Run...",
		"Leave...",
        "Rargh!",
		"Grrrugh."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Rargh!",
        "Rrrrr!",
        "Grargh!",
		"Infestation... move...",
		"Area..... not secure...",
		"Contact... inbound.... rargh!",
		"Cont-.... -act...",
		"Hostiles... in... area...",
		"Get.... the Commander....",
		"Backup.... needed....",
		"Send... reinforcements.",
		"Life support... critical...",
		"Continue... primary... objective...",
		"Defend..."
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Sector.... overrun....",
		"Hostiles...",
        "Raaaargh!",
		"Incarceration.... lethal..."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Help....",
        "Rrrrrugh...",
		"No.... overrun...",
		"Need... fire... team..."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Rarrgh...",
        "Death.... imminent...",
		"Kill... them...",
		"Move... damnit..."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Rarrgh!",
        "Grargh!",
		"Regroup....",
		"Target....",
		"Need... Observer..."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Grargh!",
        "Send..... backup....",
		"Sector.... not secure... rrrrugh.",
        "Rarrgh!",
		"Kill...",
		"Move..."
      ]
    }
  }
}