{
  "reattack" : {
    "default" : {
      "default" : [
        "Run! Arrggh!",
        "Oh god my head! Make it stop!",
		"My head! Make it stop!",
        "Rargh!",
		"Getoutgetoutgetout!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
		"Getoutgetoutgetoutgetout!",
		"Get out of my head!",
		"Getoutofmyheadgetoutofmyhead!",
		"Leave!",
		"Leaveleaveleaveleaveleave!",
        "Make it stop! Make it stop!",
		"Make it stop!",
        "Argh! My head! Oh god!",
        "No! I won't let you! Aaarghhhhh!",
		"Getoutgetoutgetout!",
		"No! Please no!",
		"Please no!",
		"I am in control! I am in control! Aargh!",
		"I am the one who controls!",
		"It doesn't come from this universe!",
		"I have seen it all!",
		"Just run!",
		"Get out of here! Run!",
		"Get out of here!",
		"I've seen it! It's not from this universe!",
        "No! You can't control me!",
		"I'm in control! I'm in control!",
		"No! I won't do it! I won't!",
		"Anyone out there!? Sector is... Not clear! Hello!?",
		"I... Say again! Sector overrun! Aaargghh!",
		"Get the fuck out of my head!",
		"Unit to Surface... Where is... Aaaargghh!",
		"Kill me! Fucking kill me! Please!",
		"Kill me goddamnit!",
		"Fucking end me already!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Oh god!",
        "Aaaargh!",
		"Get out of my head!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Run! Don't come ba- AAAGGH!",
        "I don't want to do this!",
		"Please! Get out of my head!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Arrghh! God why!?",
        "No! You can't control me!",
		"I'm in control! I'm in control!",
		"No! I won't do it! I won't!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Rarrgh!",
        "Grargh!",
		"Arrggghhh, my head! Run!",
		"Run! Run while you can! Arrrggghhh!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "No... Why...",
        "Agghhh! Get out of my head!",
		"No!",
        "No! I don't want to do it!"
      ]
    }
  }
}