{
  "reattack" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
	  "Artifacts... Artifacts... I must find Artifacts...",
	  "I must get out of here...",
	  "Spirits are a bitch...",
	  "I'm coming home soon...",
	  "Look how grown you are...",
	  "It hurts... It hurts...",
	  
		"Look who walked into the nest...",
		"Perhaps you can be our... finest guest.",
		"They left us here, and for what?",
		"Why can't I remember!? Tell me!",
		"Why am I here?",
        "Why won't they stop screaming!?",
		"I hear them all!",
        "The voices scream!",
		"They're all in the walls!",
		"I must lay you to rest!",
		"Rest now! I said, REST!",
		"Just like the rest of them.",
		"Please... I need help.",
		"Father...",
		"Mother...",
		"We'll become beautiful!",
		"This body is mine, and mine alone!",
		"A guest... right... this... way...",
		"Come here. I won't hurt you.",
		"Let's be lovers! On a heart-throbbing adventure!",
		"Come on. Come to papa.",
		"That's right, over here.",
		"I hear the walls whispering. Do this, do that.",
		"The walls whisper to me their greatest secrets.",
		"I... love this place.",
		"HAHAHAHAHAHAHAHA.",
		"AAAAAAAAHAHAHAHAH COME HERE.",
		"WHY DID YOU TOUCH ME!? ANSWER ME!",
		"I LOVE YOU! GET BACK HERE YOU LITTLE SHIT!",
		"LET ME LOVE YOU! I ONLY LOVE YOU!",
		"Why aren't you what they tell me you should be?",
		"My, my, who is this? Our best friend?",
		"I hear them. All the time.",
		"I make peace with the voices. It's time for you to rest.",
		"The voices scream in harmony. It's time for you to join them.",
		"Join the voices. They demand it.",
		"LITTLE PIG, LITTLE PIG.",
		"I MUST HAVE YOUR EYES.",
		"I CANNOT SEE. THE VOICES GUIDE ME.",
		"ONCE MOMMY AND DADDY SEE YOU, THEY WILL KILL YOU.",
		"You know nothing, pendejo!",
		"Give me your heart. Now."
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  }
}