{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 2 'Gazri' - Part 4: Fallen Flagship",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Arm the Ship's Warheads",
      "planetName" : "[Bunker 7Y]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_5b_nuclearoption",
      "icon" : "default"
    },
    {
      "name" : "Defend against the PSFs",
      "planetName" : "[United Effort]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_5a_flagshipdefense",
      "icon" : "default"
    }
  ]
}