{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 6 'Luna' - Part 1: Lunarian Transport",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Luna Battlefield",
      "planetName" : "[To WAR]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_6_2_LunarWar",
      "icon" : "default"
    }
  ]
}