{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 5 'Division 16' - Part 2: Division 16",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Hell's Train",
      "planetName" : "[Worlds at War]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_5_3_HellsTrain",
      "icon" : "default"
    }
  ]
}