{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 7: The Great Wall",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Great Wall's End",
      "planetName" : "[The Last Saint]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_8_ARemnantFromTheAshes",
      "icon" : "default"
    }
  ]
}