{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 4B: The Bastion",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Desecrated Shrine",
      "planetName" : "[Those that flew last...]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_5b_desecratedshrine",
      "icon" : "default"
    }
  ]
}