{
  "canBookmark" : true,
  "bookmarkName" : "Galaxy in Conflict Hubworld",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Esther's Research Vessel",
      "planetName" : "Contingency",
      "warpAction" : "InstanceWorld:gic_esther_chapter_0_2_esthersresearchvessel",
      "prerequisiteQuest" : "gic_esther_chapter_0_1_arkbeyondquest",
      "icon" : "default"
    },
    {
      "name" : "The Gazrian Portal Lab",
      "planetName" : "Boss-Rush Hubworld",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_hubworld_portallab",
      "prerequisiteQuest" : "gic_esther_chapter_2_0_thekinlessquest",
      "icon" : "gic_esther_chapter_2_hubworld_portallab"
    },
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    }
  ]
}