{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 1: Crimson Fortress",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Crimson Mansion Foyer",
      "planetName" : "[Bigger on the inside?]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4_2_foyer",
      "icon" : "default"
    }
  ]
}