{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 8: A Remnant...",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Crimson Hold",
      "planetName" : "[A World Asunder]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_9_TheCrimsonHold",
      "icon" : "default"
    }
  ]
}