{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 1 'Gazring' - Part 1: FNG",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Gazring: Docking Bay 75",
      "planetName" : "Chapter 1-1: FNG Debrief",
      "warpAction" : "InstanceWorld:gic_esther_chapter_1_1_fng_debrief",
      "icon" : "default"
    }
  ]
}