{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 6: Stranded Sorcerer",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Great Wall",
      "planetName" : "[The Dynasty's Last]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_7_thegreatwall",
      "icon" : "default"
    }
  ]
}