{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 4: Grand Archives",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Crimson Sanctuary",
      "planetName" : "[New Londinium Ruins]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4_5_CrimsonSanctuary",
      "icon" : "default"
    }
  ]
}