{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 5B: The Desecrated Shrine",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Stranded Sorcerer",
      "planetName" : "[Many heads, heed ahead]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_6a_strandedsorcerer",
      "icon" : "default"
    }
  ]
}