{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 10: The Crimson Mansion",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    
    {
      "name" : "''We'll mark this for our return.''",
      "planetName" : "[Chapter 3 Complete]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_hubworld_portallab",
      "icon" : "default"
    }
    
  ]
}