{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 5 'Division 16' - Part 1: Void Sands",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Division 16",
      "planetName" : "[Where Monsters are Men]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_5_2_Cryptography",
      "icon" : "default"
    }
  ]
}