{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 2: Afterburner",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Old Chaos",
      "planetName" : "[After-Battle]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4d_3_Debrief",
      "icon" : "default"
    }
  ]
}