{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 2A: Withering Village",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Fractured Forge",
      "planetName" : "[Queen's Grave]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_3a_thefracturedforge",
      "icon" : "default"
    }
  ]
}