{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 1: Border of Life",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Withering Village",
      "planetName" : "[Find absolution with a blade!]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_2a_witheringvillage",
      "icon" : "default"
    },
    {
      "name" : "Heretic's Nest",
      "planetName" : "[Aim high, aim true!]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_2b_hereticsnest",
      "icon" : "default"
    }
  ]
}