{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 3B: Heretic's Pulpit",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Bastion",
      "planetName" : "[Heresy against Heresy]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_4b_thebastion",
      "icon" : "default"
    }
  ]
}