{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 3A: The Fractured Forge",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Judgment's Spear",
      "planetName" : "[Where One meets the Sea]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_4a_judgmentsspear",
      "icon" : "default"
    }
  ]
}