{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 0 'Ark Beyond'",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Hubworld: Esther's Vessel",
      "planetName" : "Gazring",
      "warpAction" : "InstanceWorld:gic_esther_chapter_0_2_esthersresearchvessel",
      "icon" : "default"
    }
  ]
}