{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 3: Eldest Abode",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Grand Archives",
      "planetName" : "[Degenerate Knowledge]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4_4_GrandArchives",
      "icon" : "default"
    }
  ]
}