{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 2: Grand Librarian",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Backdoor Line",
      "planetName" : "[Carrier Exchange]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4c_3_CarrierPurchase",
      "icon" : "default"
    }
  ]
}