{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 6 'Luna' - Part 3: Lunar Epilogue",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Wait for pickup...",
      "planetName" : "[Esther Storyline Complete]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_hubworld_portallab",
      "icon" : "default"
    }
  ]
}