{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 1: Lionheart Foyer",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Eldest Abode",
      "planetName" : "[Grand Librarian]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4c_2_GrandLibrarian",
      "icon" : "default"
    }
  ]
}