{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 1: Hell's Carrier",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Old Chaos",
      "planetName" : "[Afterburner]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4d_2_Afterburner",
      "icon" : "default"
    }
  ]
}