{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 2 'Gazri' - Part 5B: Bunker 7Y",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Compeer's Consequences",
      "planetName" : "[Only one may stand...]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_6b_compeersconsequences",
      "icon" : "default"
    }
  ]
}