{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 2 'Gazri' - Part 5a: Flagship Defense",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Compeer's Campfire",
      "planetName" : "[One man's truth...]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_6a_compeerscampfire",
      "icon" : "default"
    }
  ]
}