{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 2 'Gazri' - Part 3b: Radio Tower",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Gazri: Fallen Flagship",
      "planetName" : "[The Prize Vessel]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_4_fallenflagship",
      "icon" : "default"
    }
  ]
}