{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 5: Crimson Sanctuary",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "New Londinium River",
      "planetName" : "[Oil and Blood]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4_6_NewLondiniumBridge",
      "icon" : "default"
    }
  ]
}