{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 2: Foyer",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Eldest Abode",
      "planetName" : "[Worlds Interconnected]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4_3_EldestAbode",
      "icon" : "default"
    }
  ]
}