{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 4 'Eldest Abode' - Part 7: The Old Chaos",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    
    {
      "name" : "''Killing her changed something...''",
      "planetName" : "[Chapter 4 Complete]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_hubworld_portallab",
      "icon" : "default"
    }
    
  ]
}