{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 2 'Gazri' - Part 1: Howling Winds",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Gazri: Scouring Wastes",
      "planetName" : "[Ranged Focus]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_2a_scouringwastes",
      "icon" : "default"
    },
    {
      "name" : "Gazri: Eastern Wind",
      "planetName" : "[Melee Focus]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_2b_easternwind",
      "icon" : "default"
    }
  ]
}