{
  "canBookmark" : true,
  "bookmarkName" : "Chapter 2 - The Portal Lab",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
  
  //---
  
    {
      "name" : "Campaign Replay: Ground Zero",
      "planetName" : "[Prologue]",
      "warpAction" : "InstanceWorld:gic_independent_chapter_0_2_groundzero",
      "prerequisiteQuest" : "gic_independent_chapter_0_1_uncooperativequest",
      "icon" : "gic_bossrush_guardianofnod"
    },
  
    {
      "name" : "Campaign Replay: Ark Beyond",
      "planetName" : "[Esther Chapter 0]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_0_1_arkbeyond",
      "prerequisiteQuest" : "gic_esther_chapter_0_1_arkbeyondquest",
      "icon" : "gic_esther_chapter_0"
    },
  
    {
      "name" : "Campaign Replay: F.N.G",
      "planetName" : "[Esther Chapter 1]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_1_1_fng",
      "prerequisiteQuest" : "gic_esther_chapter_1_1_fngquest",
      "icon" : "gic_esther_chapter_1"
    },
  
    {
      "name" : "Campaign Replay: The Kinless",
      "planetName" : "[Esther Chapter 2]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_1_howlingwinds",
      "prerequisiteQuest" : "gic_esther_chapter_2_0_thekinlessquest",
      "icon" : "gic_esther_chapter_2"
    },
	
    {
      "name" : "Campaign Replay: Eye of the Sun",
      "planetName" : "[Gazri BIRB Hunt]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_1c_birdhunting",
      "prerequisiteQuest" : "gic_esther_chapter_2_wud_birdhuntingQuest",
      "icon" : "gic_bossrush_birb_eyeofthesun"
    },
	
    {
      "name" : "Campaign Replay: The Other World",
      "planetName" : "[Esther Chapter 3]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_1_borderoflife",
      "prerequisiteQuest" : "gic_esther_chapter_3_0_theotherworldquest",
      "icon" : "gic_esther_chapter_3"
    },
	
    {
      "name" : "Chapter 3 Boss: A Remnant...",
      "planetName" : "[Linebreaker, the Greatsword Guard]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_8_ARemnantFromTheAshes_bossrush",
      "prerequisiteQuest" : "gic_esther_chapter_3_0_theotherworldquest",
      "icon" : "gic_bossrush_linebreaker"
    },
	
    {
      "name" : "Chapter 3 Boss: The Crimson Hold",
      "planetName" : "[The Amanojaku & Nue]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_9_TheCrimsonHold_bossrush",
      "prerequisiteQuest" : "gic_esther_chapter_3_0_theotherworldquest",
      "icon" : "gic_bossrush_youkaiduo"
    },
  
    {
      "name" : "Campaign Replay: The Eldest Abode",
      "planetName" : "[Esther Chapter 4]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4_1_crimsonfortress",
      "prerequisiteQuest" : "gic_esther_chapter_4_0_eldestabodequest",
      "icon" : "gic_esther_chapter_4"
    },  
  
    {
      "name" : "Campaign Replay: Bridge to Yama",
      "planetName" : "[Esther Chapter 4]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_4_6_NewLondiniumBridge",
      "prerequisiteQuest" : "gic_esther_chapter_4_0_eldestabodequest",
      "icon" : "gic_bossrush_yama"
    },    
  
  
  
  
    {
      "name" : "Campaign Replay: Void Sands",
      "planetName" : "[Esther Chapter 5]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_5_1_VoidFields",
      "prerequisiteQuest" : "gic_esther_chapter_5_0_division16Quest",
      "icon" : "gic_esther_chapter_5"
    },    
    
    {
      "name" : "Campaign Replay: Hell's Train",
      "planetName" : "[Esther Chapter 5]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_5_3_HellsTrain",
      "prerequisiteQuest" : "gic_esther_chapter_5_0_division16Quest",
      "icon" : "gic_esther_chapter_5"
    },    
  
  
    {
      "name" : "Campaign Replay: Luna",
      "planetName" : "[Esther Chapter 6]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_6_1_LunarianTransport",
      "prerequisiteQuest" : "gic_esther_chapter_6_0_lunaQuest",
      "icon" : "gic_esther_chapter_6"
    },  
  
  
  //---
  
  
    {
      "name" : "Boss Rush: Afflicted 1/2",
      "planetName" : "[Leech]",
      "warpAction" : "InstanceWorld:gic_afflictedcolony_reactorcore_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_afflictedquest",
      "icon" : "gic_bossrush_erchiuscrystalcoordinator"
    },
	
    {
      "name" : "Boss Rush: Afflicted 2/2",
      "planetName" : "[Legion]",
      "warpAction" : "InstanceWorld:gic_afflictedcolony_intothenest_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_afflictedquest",
      "icon" : "gic_bossrush_erchiusbannerbearer"
    },
	
  
  //---
  
  
    {
      "name" : "Boss Rush: Undercolony 1/2",
      "planetName" : "[Scatter-Spear Sicario]",
      "warpAction" : "InstanceWorld:gic_undercolony_abandonedsector_bossrush_sicario",
      "prerequisiteQuest" : "gic_chapter2_bossrush_undercolonyquest",
      "icon" : "gic_bossrush_scatterspearsicario"
    },
		
  
    {
      "name" : "Boss Rush: Undercolony 2/2",
      "planetName" : "[Occasus Assassin]",
      "warpAction" : "InstanceWorld:gic_undercolony_abandonedsector_bossrush_occasusassassin",
      "prerequisiteQuest" : "gic_chapter2_bossrush_undercolonyquest",
      "icon" : "gic_bossrush_occasusassassin"
    },
		
		
	//---
		
  
    {
      "name" : "Boss Rush: Daimyo-Hunt 1/2",
      "planetName" : "[Greenfinger General]",
      "warpAction" : "InstanceWorld:gic_razed_mountainsiegelines_speargeneral_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_razedquest",
      "icon" : "gic_bossrush_greenfingergeneral"
    },
		
  
    {
      "name" : "Boss Rush: Daimyo-Hunt 2/2",
      "planetName" : "[Greenfinger Daimyo]",
      "warpAction" : "InstanceWorld:gic_razed_mountaincastle_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_razedquest",
      "icon" : "gic_bossrush_greenfingerdaimyo"
    },
	
	
	//---
	
		
    {
      "name" : "Boss Rush: Arboretum",
      "planetName" : "[White Wolf of the Worlds]",
      "warpAction" : "InstanceWorld:gic_wildlands_arboretum_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_whitewolfquest",
      "icon" : "gic_bossrush_whitewolf"
    },


	//---
	
		
    {
      "name" : "Boss Rush: Ancient Kiln",
      "planetName" : "[Protectorate Deserter]",
      "warpAction" : "InstanceWorld:gic_ancientvault_protectoratefactory_bossroom_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_ancientvault_kilnquest",
      "icon" : "gic_bossrush_protectoratedeserter"
    },


	//---
	
    {
      "name" : "Boss Rush: Astral Temple",
      "planetName" : "[Knight of Nights]",
      "warpAction" : "InstanceWorld:gic_psychicrealm_astraltemple_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_astraltemplequest",
      "icon" : "gic_bossrush_knightofnights"
    },
	
	
	//---
		
  
    {
      "name" : "Boss Rush: P. Laboratory",
      "planetName" : "[Armored Protector]",
      "warpAction" : "InstanceWorld:gic_protectedcolony_laboratory_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_protectedquest",
      "icon" : "gic_bossrush_armoredprotector"
    },
	
    {
      "name" : "Boss Rush: Hell's Mantle",
      "planetName" : "[B.I.R.B]",
      "warpAction" : "InstanceWorld:gic_protectedcolony_hellsmantle",
      "prerequisiteQuest" : "gic_chapter2_bossrush_protectedquest",
      "icon" : "gic_bossrush_birb"
    },
	
	
	//---
	

    {
      "name" : "Boss Rush: Traitor's Cave",
      "planetName" : "[Ex-Cultist]",
      "warpAction" : "InstanceWorld:gic_wartorn_flakturm_traitorscave_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_wartornquest",
      "icon" : "gic_bossrush_excultist"
    },

    {
      "name" : "Boss Rush: Harbinger's Stockpile",
      "planetName" : "[False Protector]",
      "warpAction" : "InstanceWorld:gic_wartorn_ruinedcomplex_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_wartornquest",
      "icon" : "gic_bossrush_falseprotector"
    },	
	
	
	//---
	

    {
      "name" : "Boss Rush: Crusader's Cave",
      "planetName" : "[Glitch-Hunter Captain]",
      "warpAction" : "InstanceWorld:gic_crusade_cavesystem_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_crusadequest",
      "icon" : "gic_bossrush_glitchhuntercaptain"
    },	
	

    {
      "name" : "Boss Rush: The War Camp",
      "planetName" : "[Crusader Champion]",
      "warpAction" : "InstanceWorld:gic_crusade_battlefield_bossrush",
      "prerequisiteQuest" : "gic_chapter2_bossrush_crusadequest",
      "icon" : "gic_bossrush_crusaderchampion"
    },	
	
	
	//---
	
	
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    }
  ]
}