{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 9: The Crimson Hold",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Crimson Mansion",
      "planetName" : "[Abyssal Attack]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_10_TheCrimsonMansion",
      "icon" : "default"
    }
  ]
}