{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 4: Judgment's Spear",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Dilapidated Court",
      "planetName" : "[Those that walked first...]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_5a_thedilapidatedcourt",
      "icon" : "default"
    }
  ]
}