{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 3 'Otherworld' - Part 2B: Heretic's Nest",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Heretic's Pulpit",
      "planetName" : "[Foolish Native Naivety]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_3_3b_sear",
      "icon" : "default"
    }
  ]
}