{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 6 'Luna' - Part 2: Lunar War",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "''Erchius Ceasefire?''",
      "planetName" : "[Epilogue]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_6_3_LunarEpilogue",
      "icon" : "default"
    }
  ]
}