{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 2 'Gazri' - Part 6B: Compeer's Consequences",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Portal Lab",
      "planetName" : "[It was a triumph...]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_7_thelab",
      "icon" : "default"
    }
  ]
}