{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 2 'Gazri' - Part 2b: Eastern Wind",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Gazri: Wasteland Merchant",
      "planetName" : "[Restock & Resupply]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_3a_wastelandmerchant",
      "icon" : "default"
    },
    {
      "name" : "Gazri: Radio Tower",
      "planetName" : "[Echoes of the Past]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_2_3b_radiotower",
      "icon" : "default"
    }
  ]
}