{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "You returned!",
		"Target spotted!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
		"Where'd you learn to fight!?",
		"Flank them! Flank!",
        "Let's get this over with!",
        "Give it up!",
        "Who the hell taught you how to fight!?",
        "This is advisor! Shoot them!",
		"You fucked up!",
        "We have tactical superiority!",
        "You came to the wrong place, fool!",
        "Target spotted!",
		"I am the fucking wall!",
		"Who the fuck do you think you are!?",
        "Fucks!",
		"They're over there!",
		"Target sighted! Fucking shoot them!",
		"Fucking shoot!",
		"Fucker!",
		"Little shithead!",
		"Dumbasses! Shoot them!",
		"Lalala, shoot the bastards!",
		"Shoot the bastard!",
		"Run away, bastard!",
		"You've made a big mistake you little bastard!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "You owe me a beer.",
        "Let's crack a cold one.",
        "I wonder what he had.",
        "I didn't even break a sweat!",
        "Oh man I hope they had some sweet loot.",
        "Man, I hope we get out off this planet soon.",
        "Easy, easy.",
        "That was easy!",
        "Bloody hell that was tough.",
        "Yes!",
        "That's what you get!",
		"Target neutralised!",
		"It's so fucking boring here."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will find you!",
        "It's not over yet!",
        "Don't come back!",
        "I didn't lose them! One of you lost 'em!",
        "Target lost!",
        "Find them!",
        "Group up and find them!",
        "Come back so I can kill you!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Search for the bastard!",
        "They're getting away!",
        "Where did they go...",
        "Get back here!",
        "Hey come back! So I can kill you myself!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Get back here!",
        "Shit-eater!",
        "Ah fuck!"
      ]
    }
  }
}
