{
	// PERICARPYX INFECTION //
	
	"gic_pericarpyx_infection_stage1" : {"category" : "gic_pericarpyx", "statusEffect": "gic_pericarpyx_infection_stage1", "time": 0, "timeLimit": 60, "blockingStat" : "gic_pericarpyx_infectionProtection", "mode": "transition", "target" : "gic_pericarpyx_infection_stage2"},
	"gic_pericarpyx_infection_stage2" : {"category" : "gic_pericarpyx", "statusEffect": "gic_pericarpyx_infection_stage2", "time": 0, "timeLimit": 60, "blockingStat" : "gic_pericarpyx_infectionProtection", "mode": "transition", "target" : "gic_pericarpyx_infection_stage3"},
	"gic_pericarpyx_infection_stage3" : {"category" : "gic_pericarpyx", "statusEffect": "gic_pericarpyx_infection_stage3", "time": 0, "timeLimit": 60, "blockingStat" : "gic_pericarpyx_infectionProtection", "mode": "transition", "target" : "gic_pericarpyx_infection_stage4"},
	"gic_pericarpyx_infection_stage4" : {"category" : "gic_pericarpyx", "statusEffect": "gic_pericarpyx_infection_stage4", "time": 0, "timeLimit": 30, "blockingStat" : "gic_pericarpyx_infectionProtection", "mode": "transition", "target" : "gic_pericarpyx_infection_stage5"},
	
	// used to be an "end" type disease, but no longer - prevents mechs from "saving" players from the final stage of infection.
	"gic_pericarpyx_infection_stage5" : {"category" : "gic_pericarpyx", "statusEffect": "gic_pericarpyx_infection_stage5", "time": -99999, "timeLimit": 99999, "blockingStat" : "gic_pericarpyx_infectionProtection", "mode": "transition", "target" : "gic_pericarpyx_infection_stage5"},
	//"gic_pericarpyx_infection_stage5" : {"category" : "gic_pericarpyx", "statusEffect": "gic_pericarpyx_infection_stage5", "duration" : 10, "blockingStat" : "gic_pericarpyx_infectionProtection", "mode": "end"},
	
	
	// PARALYZANT //
	"gic_paralyzant_stage1" : {"category" : "gic_paralyzant", "statusEffect": "gic_paralyzant_stage1", "time": 0, "timeLimit": 30, "blockingStat" : "gic_paralyzantProtection", "mode": "transition", "target" : "gic_paralyzant_stage2"},
	"gic_paralyzant_stage2" : {"category" : "gic_paralyzant", "statusEffect": "gic_paralyzant_stage2", "time": 0, "timeLimit": 30, "blockingStat" : "gic_paralyzantProtection", "mode": "transition", "target" : "gic_paralyzant_stage3"},
	"gic_paralyzant_stage3" : {"category" : "gic_paralyzant", "statusEffect": "gic_paralyzant_stage3", "time": 0, "timeLimit": 60, "blockingStat" : "gic_paralyzantProtection", "mode": "transition", "target" : "gic_paralyzant_stage4"},
	
	// when transitioning to a "end" mode, disease will "end" here and inflict an ephermeral status effect with the specified duration
	"gic_paralyzant_stage4" : {"category" : "gic_paralyzant", "statusEffect": "gic_paralyzant_stage4", "duration" : 30, "blockingStat" : "gic_paralyzantProtection", "mode": "end"},
	
	
	
	
//	// OPIATE ADDICTION AND WITHDRAWAL //
	"gic_opiate_addiction" : {"category" : "gic_opiate_system", "statusEffect": "gic_opiate_addiction", "time": 0, "timeLimit": 240, "blockingStat" : "gic_opiate_addictionProtection", "mode": "transition", "target" : "gic_opiate_withdrawal"},
	"gic_opiate_withdrawal" : {"category" : "gic_opiate_system", "statusEffect": "gic_opiate_withdrawal", "time": 0, "timeLimit": 600, "blockingStat" : "gic_opiate_withdrawalProtection", "mode": "transition","target" : "gic_opiate_withdrawal2"}, //real withdrawal disease isn't actually an "end" type as to prevent mechs from stopping it.
	"gic_opiate_withdrawal2" : {"category" : "gic_opiate_system", "statusEffect": "gic_opiate_withdrawal", "duration" : 0, "blockingStat" : "gic_opiate_withdrawalProtection", "mode": "end"},
	
	
	
	
	
	
	
	
	// MOLD-C1 INFECTION //
	
	"gic_moldc1_infection_stage1" : {"category" : "gic_moldc1", "statusEffect": "gic_moldc1_infection_stage1", "time": 0, "timeLimit": 90, "blockingStat" : "gic_moldc1_infectionProtection", "mode": "transition", "target" : "gic_moldc1_infection_stage2"},
	"gic_moldc1_infection_stage2" : {"category" : "gic_moldc1", "statusEffect": "gic_moldc1_infection_stage2", "time": 0, "timeLimit": 90, "blockingStat" : "gic_moldc1_infectionProtection", "mode": "transition", "target" : "gic_moldc1_infection_stage3"},
	"gic_moldc1_infection_stage3" : {"category" : "gic_moldc1", "statusEffect": "gic_moldc1_infection_stage3", "time": 0, "timeLimit": 90, "blockingStat" : "gic_moldc1_infectionProtection", "mode": "transition", "target" : "gic_moldc1_infection_stage4"},
	"gic_moldc1_infection_stage4" : {"category" : "gic_moldc1", "statusEffect": "gic_moldc1_infection_stage4", "time": 0, "timeLimit": 60, "blockingStat" : "gic_moldc1_infectionProtection", "mode": "transition", "target" : "gic_moldc1_infection_stage5"},
	
	// used to be an "end" type disease, but no longer - prevents mechs from "saving" players from the final stage of infection.
	"gic_moldc1_infection_stage5" : {"category" : "gic_moldc1", "statusEffect": "gic_moldc1_infection_stage5", "time": -99999, "timeLimit": 99999, "blockingStat" : "gic_moldc1_infectionProtection", "mode": "transition", "target" : "gic_moldc1_infection_stage5"}
	
	
	
	
	
	
	
	
	
}