{
	"maxStages" : 5,
	"startingStage" : 1,
	
	"deathExplosionProjectile" : "gic_largeexplosionknockback",
	"deathExplosionProjectileConfig" : {},
	
	//hexcode
	"defaultColors" : [
		"#00FF0080", //background line color
		"#FFFF0080"	//main dynamic line color
	],
	
	// i would start counting stages from 0 like a sane person, but lua counts from 1.
	"stages" : [
		// stage 1
		{
			"statusEffects" : [ "gic_unbranded_instability_stage1" ], 
			"duration" : 420 //seconds
		},
	
		// stage 2
		{	
			"statusEffects" : ["gic_unbranded_instability_stage2"], 
			"duration" : 420
		},
	
		// stage 3
		{
			"statusEffects" : ["gic_unbranded_instability_stage3"], 
			"duration" : 420
		},
	
		// stage 4
		{
			"statusEffects" : ["gic_unbranded_instability_stage4"], 
			"duration" : 420
		},
	
		// stage 5 - Infinite Ammo Begins
		{
			"statusEffects" : ["gic_unbranded_instability_stage5"], 
			"duration" : 420,
			"explodeOnDeath" : true,
			
			//optional module that overrides the default colors of the displayed bar line
			"colorOverrides" : [
				"#00000000", //background line color override
				"#FFD400"	//main bar line color override (with last two digits being 00, line is hidden)
			],
			
			
			//death explosion overrides
			"deathExplosionProjectile" : "gic_null", //null projectile, explosion will be contained in config
			"deathExplosionProjectileConfig" : {
				"timeToLive" : 0,
				"power" : 100,
				"actionOnReap" : [
					{
					  "action" : "config",
					  "file" : "/projectiles/explosions/gic_explosion/gic_explosionknockback_indiscriminate.config"
					},
					{
					  "action" : "config",
					  "file" : "/projectiles/explosions/gic_blockexplosion/gic_blockexplosion_5.config"
					}
				]
			}
			
		},
		
		// stage 6 - Final Stand
		{
			"statusEffects" : ["gic_unbranded_instability_stage6"], 
			"duration" : 420, 
			"drainHealth" : true, 
			"drainPercent" : 0.25, //drain 0.25% health per second
			"explodeOnDeath" : true,
			
			//optional module that overrides the default colors of the displayed bar line
			"colorOverrides" : [
				"#00000000", //background line color override
				"#FF6600"	//main bar line color override (with last two digits being 00, line is hidden)
			],
			
			
			//death explosion overrides
			"deathExplosionProjectile" : "gic_null", //null projectile, explosion will be contained in config
			"deathExplosionProjectileConfig" : {
				"timeToLive" : 0,
				"power" : 200,
				"actionOnReap" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "gic_unbranded_instability_explosion_tier1"
    },
					{
					  "action" : "config",
					  "file" : "/projectiles/explosions/gic_largeexplosion/gic_largeexplosionknockback_indiscriminate.config"
					},
					{
					  "action" : "config",
					  "file" : "/projectiles/explosions/gic_blockexplosion/gic_blockexplosion_15.config"
					}
				]
			}
			
		},
		
		
		// stage 7 - Death
		{
			"statusEffects" : ["gic_unbranded_instability_stage7"], 
			"duration" : 999999, 
			"drainHealth" : true, 
			"drainPercent" : 15, //drain 15% health per second
			"explodeOnDeath" : true,
			
			//optional module that overrides the default colors of the displayed bar line
			"colorOverrides" : [
				"#FF0000FF", //background line color override
				"#00000000"	//main bar line color override (with last two digits being 00, line is hidden)
			],
			
			
			//death explosion overrides
			"deathExplosionProjectile" : "gic_null", //null projectile, explosion will be contained in config
			"deathExplosionProjectileConfig" : {
				"timeToLive" : 0,
				"power" : 200,
				"actionOnReap" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "gic_unbranded_instability_explosion_tier1"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "gic_unbranded_instability_explosion_tier1"
    },
					{
					  "action" : "config",
					  "file" : "/projectiles/explosions/gic_largeexplosion/gic_largeexplosionknockback_indiscriminate.config"
					},
					{
					  "action" : "config",
					  "file" : "/projectiles/explosions/gic_blockexplosion/gic_blockexplosion_20.config"
					}
				]
			}
			
		}
		
		
	]
}