{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "gic_plasmaimpact_small"
    },
//    {
//      "action" : "sound",
//      "options" : [ "/sfx/hit/gic_mortardetonation_5.ogg" ]
//    },
    {
      "action" : "light",
      "color" : "blue"
    }

  ]
}
