{
  "reattack" : {
    "default" : {
      "default" : [
        "Oh god no! He's back!",
		"How the hell...",
		"What in the bloody hell!?",
        "Negative! I say again, negative!",
        "How is that possible!?",
        "How!? No! No!",
		"Target spotted!",
		"One of the hostiles came back!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Open fire!",
        "!",
		"!!!",
		"Hostile Target!",
		"Oh fuck!",
		"Shit!",
		"Fuck!",
		"Oh shit!",
		"Open fire! Just fucking shoot!",
		"Shoot! Fucking shoot!",
		"The target is over there! Fucking fire!",
		"Keep your sights on the target!",
		"Hold the line!",
		"Opening fire!",
		"Every kill is one step closer to home!",
		"Fucking kill them!",
		"Oh god oh god oh god!",
		"Hostile target! Opening fire!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Radio, kill confirmed!",
        "One down!",
        "Got one!",
        "Confirmed kill!",
		"Target neutralized!",
		"Hostile downed!",
		"...",
		"...",
		"...",
		"...",
		"...",
		"...",
		"One shot, one kill!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "???",
        "?",
        "Target lost...",
        "Let him run!",
        "Regroup!",
		"Just run..."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Just let them run...",
        "They got away. Good for us.",
        "Where did they go...",
        "No more...",
        "I never wanted this...",
		"I should have never enlisted...",
		"I can't handle this...",
		"Target lost!",
		"Target got away!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Forget about him!",
        "Hold up!",
        "Target out of range. Assuming defensive position.",
        "!?",
        "Target out of range!"
      ]
    }
  }
}
