{
  "hail" : {
    "default" : {
    	"default" : [
	      "Don't cause any trouble.",
	      "Move along, Citizen.",
	      "Citizen, move along.",
	      "Keep moving, Citizen"
      ]
    },
    "glitch" : {
      "default" : [
        "Cautious. Behave yourself.",
        "Suspicious. What is your purpose here?",
        "Inexperienced. Eep!",
        "Alert. Who are you?",
        "Optimistic. I'm sure you won't be any trouble.",
        "Reticent. You won't be a problem...",
        "Stern. You behave yourself.",
        "Insincere. Have an absolutely wonderful day.",
        "Dismissive. Try not to get yourself killed.",
        "Concerned. Should you be here?"
      ]
    },
    "gic_realistichuman" : {
      "default" : [
        "Welcome.",
        "Stay out of trouble.",
        "A visitor?",
        "Feel free to take a look around.",
		"Move along.",
        "Nothing to see here.",
        "Don't try anything funny.",
        "Hello.",
		
		
		
		
		
		

"My brother joined the Occasus, I hope I never have to see him on the battlefield.",
"I thought about switching sides, but I'd still be fighting those I love. There's no winning.",
"My wife hopes one day I'll get promoted so I can earn enough money for retirement.",
"Oh hell, how many men does it take to guard an outpost.",
"When we were stationed at the northern outpost, they always served Earthern food, I got so sick of it!",
"I'm so hungry.",
"Damn. The hell am I supposed to look for?",
"I wish the border would open so we can get more foreign food, I am getting tired of the same old, same old.",
"Enough with the food talk.",
"Broadcast's say Protectors behind all the outpost attacks. Ten thousand credits to the one who stops each one. Imagine what you could do with that much money.",
"I haven't listened to the radio in years.",
"You know who I want to kill, that Occasus Asra Nox. That bitch needs to shut the fuck up!",
"It's on us to save this place. We have to make it right.",
"Who cares if we lose some to the Occasus. They'll be shot by some anti-terror units later anyways.",
"I just want to go home. Fuck this war. Fuck the Army.",
"Our numbers are down.",
"Gotta shape up.",
"Agh. Sucks here.",
"I feel like I'm melting.",
"At least it's not raining.",
"Today is going to be different. I feel it.",
"I am so tired of listening to your voice.",
"I stopped listening to you five minutes ago.",
"My sidearm keeps jamming, piece of shit.",
"This is the best working gun I've ever had.",
"Agh, I lost my canteen again.",
"Keep an eye on your stuff, some of the other guys have sticky fingers.",
"Something better happen soon, I'm going crazy.",
"Ya, and you hate when we're in the middle of a fucking firefight!",
"You know me, brother. I'm a hater, not a lover.",
"This is the slowest way to make money.",
"There's got to be a better way to fund an army than ransoming hostages.",
"Huh?",
"What was that?",
"What the? Same sound as before?",
"There it is again.",
"I heard a noise.",
"Nothing after all.",
"I must be imagining things.",
"Probably just the wind or animals or my imagination.",


"I've been here so long, I don't know where my real home is anymore.",
"This is the lowest-tech war I've ever been in.",
"The Protectorate brought war on themselves.",
"Something I ate isn't sitting well.",
"The Occasus deserve their fate.",
"Where's some cover when you need it?",
"I bet that still wakes you up at night.",
"There will be no orphans when we are done.",
"I hear the Unitans are developing a new type of infantry, that can turn an untrained soldier into a full squad.",
"Saw an ad for a Type-7 Spacecraft. Don't know what is, but I want it.",



//Armory Quotes provided by Turtlz during his training regime in the US Marines.

"We ran out of rifles.",
"I'm gonna gas his people again.",
"Behold the grip strength of ten monkeys!... or one orangutan.",
"He's like Cinderella, have to kiss him before midnight or he'll turn into a bumpkin.",
"If he kills himself, he kills himself.",
"I can only get so much cancer!",
"ACHEW! Fuck, I almost shit my pants again.",
"Damn, I had to put my phone down before she ate my ass through the phone.",
"He cucked me out of chow!",
"He couldn't clap a clapper.",
"I'm a goddamn glossary for that kid... I just shit my pants.",
"I'm not racist, I'm funny.",
"Why is ''cuck'' duct-taped to your back?",
"Why is your nipple wet?"
		
         
		
		
		
		
		
		
		
      ]
    },
    "floran" : {
      "default" : [
        "Sstay out of trouble.",
        "I'll 'liberate' you if I have to.",
        "Thiss place sure beats living in shitty huts...",
        "Behave yourssself.",
        "Gun or stun, both'll hurt.",
        "I'm a Veteran of the Great Floran War. I don't want another firefight...",
        "Keep it moving, traveller. Nothing to ssee here.",
        "Don't tempt me.",
        "Keep moving, traveller.",
        "Obey Colony law. Don't make it harder for yourself."
      ]
    },
    "apex" : {
      "default" : [
        "Stay silent, traveller, and do not cause any trouble.",
        "Obey Colony law.",
        "Aggressive acts of violence against the Colony will result in a lethal response.",
        "Acts of aggression will not be tolerated.",
        "Every act has repercussions.",
        "Nothing here.",
        "Keep moving.",
        "Any act of violence will be met with serious consequences.",
        "Mouth shut, eyes forward.",
        "Keep it silent, traveller."
      ]
    },
    "hylotl" : {
      "default" : [
        "Let us be peaceful, and have tranquility reign over our encounter within the confines of this Colony.",
        "Obey Colony law!",
        "Walk well, stranger.",
        "We ask only that you obey Colony law.",
        "Acts of violence may result in a lethal response.",
        "I hope the serenity of our surroundings will influence your actions.",
        "Eyes forward.",
        "Keep it moving, Citizen.",
        "Do not test me.",
        "Welcome, stranger. Are you here to seek places forgotten by the public?"
      ]
    },
    "avian" : {
      "default" : [
        "Don't try us.",
        "Move along.",
        "Just a space bird. Move along, Citizen.",
        "I hope your time here is pleasant.",
        "Salutations, traveller.",
        "You're welcome here, as long as you don't disrupt Colony services.",
        "There is no honor, only death.",
        "We'll get along just fine.",
        "As long as you don't break anything or kill anyone, you are welcome here.",
        "Eyes on you, traveller."
      ]
    },
    "novakid" : {
      "default" : [
        "Don't cause no fuss around here, partner.",
        "If you don't intend to cause trouble, then we'll get on jus' fine.",
        "We're mighty fine with strangers, as long as they aren't trouble.",
        "I forget, have we seen you round here before?",
        "Hope you enjoy our ol' village, partner. Jus' don't cause no trouble.",
        "There's been thieves around these parts lately. We don't take kindly to stealin'.",
        "Howdy!"
      ]
    }
  }
}