{
  "converse" : {
      "default" : {
          "default" : [
            "Fuck off.",
			"The hell do you want?",
			"Go away.",
			"...",
			"The hell's your problem?",
			"Dude, not cool.",
			"We got nothing between us.",
			"Man, fuck you.",
			"See you at work...",
			"Hey, knock it off.",
			"We don't know eachother, man.",
			"We don't know eachother.",
			"Not the time.",
			"This isn't the time.",
			"The hell you looking at?",
			"Keep staring and I'll bust your caps.",
			"Nothing to see here, go away.",
			"Move along.",
			"The hell do you want?",
			"The fuck's your problem, man?",
			"Hell is up with you?",
			"What do you want?",
			"I'm not that kinda person.",
			"Back off.",
			"Back off, man!",
			"Hey! Back away!",
			"Fuck is wrong with you?",
			"Head out of your ass, twat.",
			"Keep dreaming...",
			"You and I got nothing.",
			"Walk away.",
			"Don't bother me.",
			"Tourists...",
			"Fuck. Off.",
			"This isn't a great time, buddy.",
			"Don't you 'buddy-buddy' me, pal.",
			"What's up?",
			"Sup?",
			"Nah-uh.",
			"Nope.",
			"Back away, buddy.",
			"Bruh.",
			"Ain't your friend, pal.",
			"I ain't a buddy, pal.",
			"I ain't one of your buddies, pal.",
			"I got 99 problems, and you're one of them.",
			"Get out of my sight.",
			"We have nothing to talk.",
			"Get out of my way.",
			"Nothing in common.",
			"Creep.",
			"Weirdo.",
			"Fuck right off, please.",
			"I'm not taking your shit right now.",
			"I'm not taking your shit.",
            "It's quite boring here.",
            "Leave me alone.",
            "There's nothing here.",
            "I can't talk right now.
            "Sod off.",
            "How's it?",
            "You don't belong here.",
            "Nothing to see here.",
            "Go away.",
            "Sod off, you wanker.",
	 	    "Twat...",
	     	"Sod off. You have no business here.",
		    "It'd be great if you could just fuck off."
          ]
        },
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
        "apex" : {
          "apex" : [
            "Welcome, friend. If you are here, then perhaps you too have evaded the clutches of the Miniknog?",
            "Greetings, fellow Apex. Are you in this Surface Colony for a specific reason?",
            "Us Apex can seek solace out here, among the stars. I welcome a quiet life.",
            "I welcome a quiet life among the stars.",
            "One of the small benefits of life in space is that fleas don't survive easily out here...",
            "My scientific knowledge is more valuable out here in space than under the opressive regime of the Miniknog.",
            "You have a look about you - A look of... Wanderlust?",
            "Life here appeared to be more comfortable within human-controlled space.",
            "The most terrifying aspect of the Miniknog regime is that the our people are comfortable with the cycle of oppression.",
            "This Surface Colony is no where near Miniknog-Controlled Territory yet the atmosphere of this colony feels eerily similar.",
            "Among the stars, looking down upon entire worlds, even an oppressive regime can appear small and insignificant especially if they only plan to colonize habitable worlds.",
            "I'm no fighter and I cannot fight alongside the Apex Resistance despite being armed.",
            "The first step towards fighting a dictatorship is to learn. The enemy can take your weapons, but never your knowledge although in this case I do have a weapon, I'm just a terrible fighter.",
            "I heard that the Miniknog have their own spacefaring mechs. According to the United Systems, it's quite bad at combat."
          ],
          "default" : [
            "Welcome, friend. If you are here, then perhaps you too have evaded the clutches of the Miniknog?",
            "Greetings. Are you in this Surface Colony for a specific reason?",
            "I welcome a quiet life among the stars.",
            "My scientific knowledge is more valuable out here in space than under the oppressive regime of the Miniknog.",
            "You have a look about you - A look of... Wanderlust?",
            "Life here appeared to be more comfortable within human-controlled space.",
            "The most terrifying aspect of the Miniknog regime is that the our people are comfortable with the cycle of oppression.",
            "This Surface Colony is no where near Miniknog-Controlled Territory yet the atmosphere of this colony feels eerily similar.",
            "Among the stars, looking down upon entire worlds, even an oppressive regime can appear small and insignificant especially if they only plan to colonize habitable worlds.",
            "I'm no fighter and I cannot fight alongside the Apex Resistance despite being armed.",
            "The first step towards fighting a dictatorship is to learn. The enemy can take your weapons, but never your knowledge although in this case I do have a weapon, I'm just a terrible fighter.",
            "I heard that the Miniknog have their own spacefaring mechs. According to the United Systems, it's quite bad at combat."
          ]
        },
        "hylotl" : {
          "hylotl" : [
            "A fellow Hylotl! Be warned, friend - not everyone in space is as cultured as our kind... Please don't tell anyone else I said this, they'll beat my ass!",
            "A word of advice from one Hylotl to another - space is filled with many uncultured individuals.",
			
            "The empty blackness of space is like a blank canvas. How I wish I could somehow paint upon it.",
            "Space is an ocean of sorts. In some small way, it makes me feel at home.",
            "If space is like a grand ocean, perhaps it too is home to gargantuan beasts?",
            "I have come to space to find artistic inspiration among the stars...",
            "There is always new knowledge to find. I have come to this colony to research what lies out there.",
            "What secrets are hidden among the stars? I very much desire to find out as these Surface Colonies provide a stable platform to research the cosmos.",
            "I may already be incredibly intelligent, but there is potentially even more to learn out here in space!",
            "My name is <selfname> - it is a pleasure to make you acquaintance.",
            "How do you feel? Knowing that we will all eventually die with no purpose...",
            "It is said that most people cannot comprehend the vastness of space. Fortunately, these colonists are more cultured than I had thought.",
            "Are you accustomed to sailing the empty vast ocean of space?",
            "To be so small compared to the great scale of all existence... Does space also make you feel insignificant?",
            "Living with humans has taught me that there's much more to the universe than our government tells us."

          ],
          "default" : [
            "The empty blackness of space is like a blank canvas. How I wish I could somehow paint upon it.",
            "Space is an ocean of sorts. In some small way, it makes me feel at home.",
            "If space is like a grand ocean, perhaps it too is home to gargantuan beasts?",
            "I have come to space to find artistic inspiration among the stars...",
            "There is always new knowledge to find. I have come to this colony to research what lies out there.",
            "What secrets are hidden among the stars? I very much desire to find out as these Surface Colonies provide a stable platform to research the cosmos.",
            "I may already be incredibly intelligent, but there is potentially even more to learn out here in space!",
            "My name is <selfname> - it is a pleasure to make you acquaintance.",
            "The planets sail across the infinite night, like fish in a grand ocean.",
            "It is said that most people cannot comprehend the vastness of space. Fortunately, these humans are more cultured than I had thought.",
            "Are you accustomed to sailing the empty vast ocean of space?",
            "To be so small compared to the great scale of all existence... Does space also make you feel insignificant?",
            "Living with humans has taught me that there's much more to the universe than our government tells us."
          ]
        },
        "floran" : {
          "floran" : [
            "I hope to hell you know what you're looking at...",
			"You're a ssmart bugger aren't you?",
			"I would've joined the Floran Liberation Front if I wasss a better fighter.",
			"I hope to god you don't fuck thiss place up.",
			"I came to live among the cosmoss to get away from our primitive ways.",
			"I wisssh the U.S.C.M was sstill here. Yeah I'm one of thosse people, and you better get usssed to it.",
			"It's a sssurprise you even got a sship.",
			"Thiss isss not a playground. You got that?",
			"Fellow Floran, play it sssmart and you won't get the 'dart' up your ass.",
			
            "I wass never part of a Tribe. I was raissed in a civilized sssociety unlike most.",
            "I was taught sspace travel when I was in Grade 12. Blame the local education for lacking.",
            "I've sserved in the Floran Liberation Front. I've finally retired.",
            "When you're hunting sspace whale-class creatures, it brings a whole new level of 'game'.",
            "I ssaw a chance to prove myssself to the rest of the galaxy when I was young. Now'sss my chance.",
            "I was a sleeper agent for a tribe once. I assassinated their greenfinger before retiring to here. Dumbassssess'll never get me here.",
            "Name'sss <selfname>. Good to ssee you.",
            "The tribess of the Floran are sssavage to the Hylotl, but are like butter to the humanss."
          ],
          "default" : [
            "I wass never part of a Tribe. I was raissed in a civilized sssociety unlike most.",
            "I was taught sspace travel when I was in Grade 12. Blame the local education for lacking.",
            "I've sserved in the Floran Liberation Front. I've finally retired.",
            "When you're hunting sspace whale-class creatures, it brings a whole new level of 'game'.",
            "I ssaw a chance to prove myssself to the rest of the galaxy when I was young. Now'sss my chance.",
            "I was a sleeper agent for a tribe once. I assassinated their greenfinger before retiring to here. Dumbassssess'll never get me here.",
            "Name'sss <selfname>. Good to ssee you.",
            "The tribess of the Floran are sssavage to the Hylotl, but are like butter to the humanss."
          ]
        },
        "glitch" : {
          "glitch" : [
            "Pleased. Another Glitch! If you are here, you must also be self-aware. There is strength in numbers, my friend! We will soon seize their means of production!",
            "Pleased. The low-moisture atmosphere in space is good for preventing rust.",
            "Excited. I spend much of my life not knowing space even existed, and now I am here!",
            "Determined. I have come to space to find a professional trade. One day I shall be <selfname>, master engineer!",
            "Worried. Now I am in space, I feel so miniscule. How will I make my mark when I matter so little?",
            "Amicable. Welcome! I am <selfname>. I wish you well on your travels through the cosmos.",
            "Curious. Have you always known about space travel? Did you always dream about venturing through the stars?",
            "Concerned. I was informed of bio-organic machinery residing in space. Such creatures remain small, for now.",
            "Eager. Before I gained self-awareness, I hunted monsters for my village. Perhaps I shall do the same here in space?",
            "Curious. There's been news of Space Parasites but the humans claim it's all been contained. Is this true?"
          ],
          "default" : [
            "Pleased. The low-moisture atmosphere in space is good for preventing rust.",
            "Excited. I spend much of my life not knowing space even existed, and now I am here!",
            "Determined. I have come to space to find a professional trade. One day I shall be <selfname>, master engineer!",
            "Worried. Now I am in space, I feel so miniscule. How will I make my mark when I matter so little?",
            "Amicable. Welcome! I am <selfname>. I wish you well on your travels through the cosmos.",
            "Curious. Have you always known about space travel? Did you always dream about venturing through the stars?",
            "Concerned. I was informed of bio-organic machinery residing in space. Such creatures remain small, for now.",
            "Eager. Before I gained self-awareness, I hunted monsters for my village. Perhaps I shall do the same here in space?",
            "Curious. There's been news of Space Parasites but the humans claim it's all been contained. Is this true?"
          ]
        },
        "avian" : {
          "avian" : [
            "Our misguided people may call us Grounded but we sail through the stars now, don't we?",
            "I hope you aren't secretly working for the Stargazers. The shackles of false faith shall not chain me again.",
			"I will never return to Stargazer-controlled territory...",
			"I will kill you myself if you happen to be a true Stargazer.",
			"Don't even think about spreading that false faith around here!",
			"The Stargazer executed- oh pardon ''sacrificed for the greater good'' my whole fucking family.",
			"I've fought through mud and blood to escape the Stargazers.",
			"Fellow Grounded Avians are holding off the Stargazers thanks to the new RSR-95C.",
			"I was on the verge of being sacrificed. It was worth the scars for my life.",
			"Avos will be wiped in flames of nuclear fire, mark my words!",
			"Where the Stargazer's grasp ends, our freedom begins!",
			"I wish for nothing more than for Avos to be wiped from the galaxy.",
			"A sacrifice must not be in vain. The Stargazers sacrifice in vain.",
			
            "Welcome! We don't get many visitors here.",
            "Our people used to believe the stars were the many eyes of Kluex. Science, well, says otherwise.",
            "To our people, space travel is viewed as a gift from Kluex to help spread our faith. Trust me, that technology does not belong to us.",
            "The entirety of the Avian species was almost wiped once by the U.S.C.M. The flames of nuclear fire fascinate me.",
            "I hope they cleared you for entry. Atmosphere control is a bitch when some foreign bacteria ends up here.",
            "My feathers keep me warm but getting into a spacesuit is... troubling.",
            "Out of all the space ships I've flown, I'd pick Hyperspace Drives over the Alcubierre Drive.",
			"Until the Stargazers are gone, I'll never return to my home.",
			"Contrary to what many believe, I was actually born within Human-controlled space.",
			"I was actually there when the Human Core Systems became engulfed in war.",
			"Human culture fascinates me. They face a similar division between religion and science yet both are able to cooexist peacefully.",
			"The Stargazers are Evangelizing Zealots. They'll stop at nothing to convert every sapient being to their religion.",
			"I've wondered, is Religion itself just a coping mechanism? We are nothing but machines of biology. Flesh and neurons.",
			"One day the Grounded will take back Avos. Soon, my brother..."
          ],
          "default" : [
            "Welcome! We don't get many visitors here.",
            "Our people used to believe the stars were the many eyes of Kluex. Science, well, says otherwise.",
            "To our people, space travel is viewed as a gift from Kluex to help spread our faith. Trust me, that technology does not belong to us.",
            "The entirety of the Avian species was almost wiped once by the U.S.C.M. The flames of nuclear fire fascinate me.",
            "I hope they cleared you for entry. Atmosphere control is a bitch when some foreign bacteria ends up here.",
            "My feathers keep me warm but getting into a spacesuit is... troubling.",
            "Out of all the space ships I've flown, I'd pick Hyperspace Drives over the Alcubierre Drive.",
			"Until the Stargazers are gone, I'll never return to my home.",
			"Contrary to what many believe, I was actually born within Human-controlled space.",
			"I was actually there when the Human Core Systems became engulfed in war.",
			"Human culture fascinates me. They face a similar division between religion and science yet both are able to cooexist peacefully.",
			"The Stargazers are Evangelizing Zealots. They'll stop at nothing to convert every sapient being to their religion.",
			"I've wondered, is Religion itself just a coping mechanism? We are nothing but machines of biology. Flesh and neurons.",
			"One day the Grounded will take back Avos. Soon..."
          ]
        },
        "novakid" : {
          "novakid" : [
            "There ain't no law in space. That's purty ideal for rogues an' villains, ain't it?",
            "Space is the real wild country, ain't it? Bandits to hunt, bars to drink at... It sure is the life!",
            "The stars really call out t' me. I guess it jus' feels right bein' up here, closer to 'em.",
            "Nice t' meet y'all, space cowboy!",
            "Glowin' like an oil lamp really helps yer stand out in space, don't yer agree?",
            "A get a lot o' strange looks from folks up here. I guess they ain't used to seein' folks like me round these parts.",
            "You ain't gonna look me in the eyes, partner? I'm jus' foolin' with yer - I ain't got any eyes!",
            "Glowin' star folk like us get a lot o' weird looks around these parts.",
            "It ain't easy to blend in around these parts when you light up like a summer afternoon."
          ],
          "default" : [
            "There ain't no law in space. That's purty ideal for rogues an' villains, ain't it?",
            "Space is the real wild country, ain't it? Bandits to hunt, bars to drink at... It sure is the life!",
            "The stars really call out t' me. I guess it jus' feels right bein' up here, closer to 'em.",
            "Nice t' meet y'all, space cowboy!",
            "Glowin' like an oil lamp really helps yer stand out in space, don't yer agree?",
            "A get a lot o' strange looks from folks up here. I guess they ain't used to seein' folks like me round these parts.",
            "You ain't gonna look me in the eyes, partner? I'm jus' foolin' with yer - I ain't got any eyes!",
            "Bein' glowin' star folk gets you a lot o' weird looks around these parts.",
            "It ain't easy to blend in around these parts when you light up like a summer afternoon."
          ]
    }
  }
}

