{
	// hook into functions "beforeInit", "afterInit", "beforeUpdate", and "afterUpdate"
	// not as clean as actually hooking the code in the active item, but this still allows for some universal hooking that applies to all EWS lua
	"universalHooks" : [
		"/items/active/weapons/ranged/universal_hooks/ews_testhook.lua",
		"/items/active/weapons/ranged/universal_hooks/ews_thermalsight.lua"
	],
	
	"debugMode" : true,
	"blacklistNpcDebug" : false, //if enabled and debugMode then NPCs will not have their debug information shown, only the player's weapon will display its debug info.
	
	"tickCooldownWhileFire" : true, //somewhat experimental; if enabled, a gun's cooldown will tick while the weapon is going through its animations (i.e. motion1-6 to cooldown)
	//this toggleable feature will make a weapon's "true" ROF more similar to what is described in the tooltip.
	
	"defaultNpcAutoReloadConfig" : {
		"timerConfig" : [15,60] //range of values to auto reload to, for NPCs only. First index represents lowest value, second index represents highest value, in seconds.
	},	

	"defaultDynamicRecoilConfig" : {
		"startingStepPercent" : 0.5, //dynamicRecoilSteps starts at this value multiplied by dynamicRecoilMaxSteps. default fallback value.

		"ASSAULTRIFLE" : {	//fallback default dynamicRecoil config
			"dynamicRecoilMaxSteps" : 7,
			"dynamicRecoilMultiplier" : 0.17, //multiplier based off original inaccuracy per step
			"dynamicRecoilTickDuration" : 0.25, //in seconds, how long it takes for one recoil step to decay | ORIGINAL VALUE 0.17
			"dynamicRecoilMissMultiplier" : 0.12 //multiplier based off original miss chance per step; only applies if missChance module is enabled
		},
		
		"SMG" : {
			"dynamicRecoilMaxSteps" : 9,
			"dynamicRecoilMultiplier" : 0.15,
			"dynamicRecoilTickDuration" : 0.25, //ORIGINAL VALUE 0.17
			"dynamicRecoilMissMultiplier" : 0.15
		},

		"PISTOL" : {
			"dynamicRecoilMaxSteps" : 5,
			"dynamicRecoilMultiplier" : 0.75,
			"dynamicRecoilTickDuration" : 0.25, //ORIGINAL VALUE 0.17
			"dynamicRecoilMissMultiplier" : 0.5
		},
		
		"MACHINEGUN" : {
			"dynamicRecoilMaxSteps" : 15,
			"dynamicRecoilMultiplier" : 0.2,
			"dynamicRecoilTickDuration" : 0.3, //ORIGINAL VALUE 0.17
			"dynamicRecoilMissMultiplier" : 0.14
		}
	}
}
