{





  "gic_independent_chapter_0_1_missionstart_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Chapter Null",
    "message" : "\n\nOther Protectors are out there!",
    "okCaption" : "Ready!",
    "cancelCaption" : "Later...",
    "images" : {
      "portrait" : [ {"image" : "/quests/images/gic_shadowfigure.png"} ]
    },
    "labels" : {
      "name" : "[???]"
    }
  },



  "gic_razed_kojiro_swordsaint_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Acclaimed Daimyo Duel",
    "subtitle" : "Hunt for the Kojiro",
    "message" : "\n\nOnce the duel is engaged, you may duel with as many deaths as it takes. ^yellow;DODGE disabled and only MELEE damage works.^reset; ^orange;You cannot return once you leave.^reset;",
    "okCaption" : "Duel!",
    "cancelCaption" : "Hold!",
    "images" : {
      "portrait" : [ {"image" : "/objects/UNITED_SYSTEMS/gic_razed_venerableancientbattlefield_statue/gic_razed_venerableancientbattlefield_statue.png"} ]
    },
    "labels" : {
      "name" : ""
    }
  },
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  "gic_wildlands_island_rivalnewsreporter_ayashameimaru_starter_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Travel",
    "subtitle" : "[Bunbunmaru Office]",
    "message" : "\n\nWhat? You want to actually go see that weird lady? Fine. Here, it's in this spot in the city. She has an office. Give her my regards, because I'll be the one to report first!",
    "okCaption" : "Thanks, buddy.",
    "cancelCaption" : "Maybe not...",
    "images" : {
      "portrait" : [{"image" : "/interface/MISSION_PORTRAITS/gic_characterwarp_basic.png"}]
    },
    "labels" : {
      "name" : "The Rival Reporter"
    }
  },    
  
  
  "gic_wildlands_island_ayashameimaru_1_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Travel",
    "subtitle" : "[Convenience Store]",
    "message" : "\n\nWhat we're doing is technically illegal, but they wouldn't mind, would they?",
    "okCaption" : "Let's go.",
    "cancelCaption" : "Not yet.",
    "images" : {
      "portrait" : [{"image" : "/interface/MISSION_PORTRAITS/gic_characterwarp_basic.png"}]
    },
    "labels" : {
      "name" : "Aya Shameimaru"
    }
  },    
    
  "gic_wildlands_island_ayashameimaru_2_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Travel",
    "subtitle" : "[Bradley's Residence]",
    "message" : "\n\nYeah, still technically illegal...",
    "okCaption" : "Let's go.",
    "cancelCaption" : "Not yet.",
    "images" : {
      "portrait" : [{"image" : "/interface/MISSION_PORTRAITS/gic_characterwarp_basic.png"}]
    },
    "labels" : {
      "name" : "Aya Shameimaru"
    }
  },      
  
  "gic_wildlands_island_ayashameimaru_3_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Travel",
    "subtitle" : "[Port District]",
    "message" : "\n\nThere might be some of those gang folk here too. Bring a gun or something.",
    "okCaption" : "Let's go.",
    "cancelCaption" : "Not yet.",
    "images" : {
      "portrait" : [{"image" : "/interface/MISSION_PORTRAITS/gic_characterwarp_basic.png"}]
    },
    "labels" : {
      "name" : "Aya Shameimaru"
    }
  },      
  
  "gic_wildlands_island_ayashameimaru_4_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Travel",
    "subtitle" : "[Escape]",
    "message" : "\n\nThere might be some of those gang folk here too. Bring a gun or something.",
    "okCaption" : "Let's go.",
    "cancelCaption" : "Not yet.",
    "images" : {
      "portrait" : [{"image" : "/interface/MISSION_PORTRAITS/gic_characterwarp_basic.png"}]
    },
    "labels" : {
      "name" : "Aya Shameimaru"
    }
  },        
  
  "gic_wildlands_island_ayashameimaru_5_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Travel",
    "subtitle" : "[Police Station]",
    "message" : "\n\nBring some firepower. We're going into a place that could very well be hostile.",
    "okCaption" : "Let's go.",
    "cancelCaption" : "Not yet.",
    "images" : {
      "portrait" : [{"image" : "/interface/MISSION_PORTRAITS/gic_questicon_aya.png"}]
    },
    "labels" : {
      "name" : "Aya Shameimaru"
    }
  },     
  
  "gic_wildlands_island_ayashameimaru_6_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Travel",
    "subtitle" : "[Fortress Museum]",
    "message" : "\n\nThis is it. The final push.",
    "okCaption" : "Let's go.",
    "cancelCaption" : "Not yet.",
    "images" : {
      "portrait" : [{"image" : "/interface/MISSION_PORTRAITS/gic_questicon_aya.png"}]
    },
    "labels" : {
      "name" : "Aya Shameimaru"
    }
  },     
  
  
  
  
  
  
  
  
  
  



  "gic_esther_chapter_0_1_arkbeyond_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Chapter 0",
    "message" : "\n\nWe just need to get past a few things, but we'll be out in no time, dear.",
    "okCaption" : "Ready!",
    "cancelCaption" : "Later...",
    "images" : {
      "portrait" : [ {"image" : "/interface/MISSION_PORTRAITS/gic_esther_portrait.png"} ]
    },
    "labels" : {
      "name" : "Esther"
    }
  },
  
  "gic_esther_chapter_1_hubworld_dockingbay75_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Intermission",
    "subtitle" : "Esther Chapter 1 Hubworld",
    "message" : "\n\nEnter Gazring Docking Bay 75?",
    "okCaption" : "Ready!",
    "cancelCaption" : "Later...",
    "images" : {
      "portrait" : [ {"image" : "/interface/MISSION_PORTRAITS/gic_esther_portrait.png"} ]
    },
    "labels" : {
      "name" : "Esther"
    }
  },

  "gic_esther_chapter_1_1_fng_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Chapter 1: 'F.N.G'",
    "message" : "\n\nFor someone of your caliber, this shouldn't be too difficult for you.",
    "okCaption" : "Ready!",
    "cancelCaption" : "Later...",
    "images" : {
      "portrait" : [{"image" : "/objects/missions/gic_esther_keine_hubworld/gic_esther_keine_hubworld_portrait.png"}]
    },
    "labels" : {
      "name" : "Kamish"
    }
  },


  "gic_esther_chapter_2_1_howlingwinds_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Chapter 2: The Kinless'",
    "message" : "\n\nIt's here... somewhere. I'm certain. All the data, and of all I've known says it's here.",
    "okCaption" : "Ready!",
    "cancelCaption" : "Later...",
    "images" : {
      "portrait" : [{"image" : "/objects/missions/gic_esther_keine_hubworld/gic_esther_keine_hubworld_portrait.png"}]
    },
    "labels" : {
      "name" : "Kamish"
    }
  },


  "gic_esther_chapter_2_1c_birdhunting_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Gazrian Desert: Eye of the Sun'",
    "message" : "\n\nConflict is always prevalent on Gazri. If you wish to fight for the sake of it, the option is there. Vehicles are provided for your use, of course.",
    "okCaption" : "Go! Go! Go!",
    "cancelCaption" : "No go!",
    "images" : {
      "portrait" : [{"image" : "/objects/crafting/gic_gazri_wastelandmerchant/gic_gazri_wastelandmerchant.png"}]
    },
    "labels" : {
      "name" : "Wasteland Merchant"
    }
  },


  "gic_esther_chapter_3_1_borderoflife_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Chapter 3: The Other World'",
    "message" : "\n\nKamish trusts you enough, so I figured I should too. I've seen a little of what's up ahead, and it's a hellscape alright. Bring supplies. Maybe a few mates, too.",
    "okCaption" : "Onwards!",
    "cancelCaption" : "Nah...",
    "images" : {
      "portrait" : [{"image" : "/objects/missions/gic_esther_chapter_1_lionheart/gic_esther_chapter_1_lionheartportrait.png"}]
    },
    "labels" : {
      "name" : "Lionheart"
    }
  },


  "gic_esther_chapter_4_1_crimsonfortress_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Chapter 4: The Eldest Abode'",
    "message" : "\n\nThe Unitan Core Worlds are through here apparently. I've got a score to settle here, so it's just convenient that this is where we need to go anyways.",
    "okCaption" : "Forwards!",
    "cancelCaption" : "No.",
    "images" : {
      "portrait" : [{"image" : "/objects/missions/gic_esther_chapter_1_lionheart/gic_esther_chapter_1_lionheartportrait.png"}]
    },
    "labels" : {
      "name" : "Lionheart"
    }
  },




  "gic_esther_chapter_4c_1_LionheartFoyer_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Lionheart: Grand Librarian",
    "message" : "\n\nHead through to the mansion once more? We're here for treasure, and nothing more!",
    "okCaption" : "Forwards!",
    "cancelCaption" : "Later.",
    "images" : {
      "portrait" : [{"image" : "/objects/missions/gic_esther_chapter_1_lionheart/gic_esther_chapter_1_lionheartportrait.png"}]
    },
    "labels" : {
      "name" : "Lionheart"
    }
  },



  "gic_esther_chapter_4d_1_HellsCarrier" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Lionheart: Grand Librarian",
    "message" : "\n\nI rented an entire carrier with the funds from the Court Mage. It was a generous donation of... fumos. Kirisame loved 'em.",
    "okCaption" : "Forwards!",
    "cancelCaption" : "Later.",
    "images" : {
      "portrait" : [{"image" : "/objects/missions/gic_esther_chapter_1_lionheart/gic_esther_chapter_1_lionheartportrait.png"}]
    },
    "labels" : {
      "name" : "Lionheart"
    }
  },



  "gic_esther_chapter_5_1_VoidFields_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Chapter 5: Division 16'",
    "message" : "\n\nIt's like some sort of Planetarium. The Unitans are here, and they're fighting some sort of eternal youkai war. I'll put in a good word for you if we meet them.",
    "okCaption" : "Continue.",
    "cancelCaption" : "No.",
    "images" : {
      "portrait" : [{"image" : "/objects/missions/gic_esther_chapter_1_lionheart/gic_esther_chapter_1_lionheartportrait.png"}]
    },
    "labels" : {
      "name" : "Lionheart"
    }
  },
  
  
  
  
  
  "gic_esther_chapter_6_1_LunarianTransport_confirmation" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Mission Start",
    "subtitle" : "Chapter 6: Luna'",
    "message" : "\n\nReady to board the Lunarian transport?",
    "okCaption" : "Go Forth!",
    "cancelCaption" : "No!",
    "images" : {
      "portrait" : [{"image" : "/objects/missions/gic_esther_keine_hubworld/gic_esther_keine_hubworld_portrait.png"}]
    },
    "labels" : {
      "name" : "Kamish"
    }
  },  
  
  
  
  
  
  
  
  
  
  
  
  
  
  



//VANILLA EXAMPLES

  "techscientist_dash" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Dash Test",
    "message" : "\n\nAre you ready to go to the obstacle course?",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/outpost/techlab/techlabscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Elliot"
    }
  },
  "techscientist_doublejump" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Pulse Jump Test",
    "message" : "\n\nAre you ready to go to the obstacle course?",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/outpost/techlab/techlabscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Elliot"
    }
  },
  "techscientist_morphball" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Distortion Sphere Test",
    "message" : "\n\nAre you ready to go to the obstacle course?",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/outpost/techlab/techlabscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Elliot"
    }
  },
  "arena1" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Arena Battle : The Gladiators",
    "message" : "\n\nAre you sure you're ready to enter the arena against the trio of Gladiators? Once inside the only escape is victory.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [
        {"image" : "/humanoid/nuru/backarm.png:idle.1"},
        {"image" : "/humanoid/nuru/femalebody.png:idle.1"},
        {"image" : "/humanoid/nuru/frontarm.png:idle.1"}
      ]
    },
    "labels" : {
      "name" : "Nuru"
    }
  },
  "arena2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Arena Battle : Pet Tamer Volo",
    "message" : "\n\nAre you sure you're ready to enter the arena against Volo the pet tamer? Once inside the only escape is victory.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [
        {"image" : "/humanoid/nuru/backarm.png:idle.1"},
        {"image" : "/humanoid/nuru/femalebody.png:idle.1"},
        {"image" : "/humanoid/nuru/frontarm.png:idle.1"}
      ]
    },
    "labels" : {
      "name" : "Nuru"
    }
  },
  "arena3" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Arena Champion: Templar Inferno",
    "message" : "\n\nAre you sure you're ready to enter the arena against the fire knight, Templar Inferno? Once inside the only escape is victory.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [
        {"image" : "/humanoid/nuru/backarm.png:idle.1"},
        {"image" : "/humanoid/nuru/femalebody.png:idle.1"},
        {"image" : "/humanoid/nuru/frontarm.png:idle.1"}
      ]
    },
    "labels" : {
      "name" : "Nuru"
    }
  },
  "penguinmission1" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Dreadwing the Penguin",
    "message" : "\n\nAre you ready for me to send you to Dreadwing so you can rough him up?\n^red;You'll want to have good equipment for this.",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/outpost/penguinbar/penguinbarportrait.png"} ]
    },
    "labels" : {
      "name" : "Bartender"
    }
  },
  "penguinmission2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Penguin Arms Testing Site",
    "message" : "\n\nAre you ready for me to send you to my ^orange;arms testing site^white; to fight my Shockhopper MK I?\n^red;You'll want to have very good equipment for this.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/outpost/penguinscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Dr. Akaggy"
    }
  },
  "mechunlock" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Mech Test Course",
    "message" : "\n\nAre you ready for me to deploy you to my ^orange;mech test course^white;? I built it in an abandoned freighter I stumbled upon.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/outpost/penguinscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Dr. Akaggy"
    }
  },
  "mechupgrade2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Advanced Mech Test Course",
    "message" : "\n\nAre you ready for me to send you to my ^orange;advanced mech test course^white;? \n^red;You might want to assemble a strong enough mech before you go.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/outpost/penguinscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Dr. Akaggy"
    }
  },
  "bounty" : {
    "paneLayout" : "/interface/windowconfig/simpleconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Bounty Lair",
    "message" : "\nThis console will teleport you to the target's hideout.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now"
  },
  "cyberspace" : {
    "paneLayout" : "/interface/windowconfig/simpleconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Cyberspace Terminal",
    "message" : "\nThis terminal is connected to a criminal network.\n\nAre you ready to hack into cyberspace?",
    "okCaption" : "Hack",
    "cancelCaption" : "Not now"
  }
}
