{
  "canBookmark" : false,
  "bookmarkName" : "None",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Abandon Run",
      "planetName" : "[NO RETURN | Progress will be lost!]",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    }
  ]
}
