{
  "canBookmark" : false,
  "bookmarkName" : "None",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Beam to Ship [!]",
      "planetName" : "[CANNOT RETURN IF YOU LEAVE!]",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    }
  ]
}
