{
  "canBookmark" : false,
  "bookmarkName" : "Wildlands Bounty Hunt Extraction",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Hunters' Island Lodge",
      "planetName" : "[The Gathering]",
      "warpAction" : "InstanceWorld:gic_wildlands_compound_island_bountyhunthub",
      "icon" : "default"
    }
  ]
}