{
  "canBookmark" : false,
  "bookmarkName" : "Unknown",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Azoyou 'Knife and let live'",
      "planetName" : "[Bullet Hell]",
      "warpAction" : "InstanceWorld:gic_fantesar_arena_azoyou",
      "icon" : "default"
    },
    {
      "name" : "Hinata 'Meteor Mk2'",
      "planetName" : "[Bullet Hell]",
      "warpAction" : "InstanceWorld:gic_fantesar_arena_hinata",
      "icon" : "default"
    },
    {
      "name" : "Shoru 'HereTechnical'",
      "planetName" : "[Bullet Hell]",
      "warpAction" : "InstanceWorld:gic_fantesar_arena_shoru",
      "icon" : "default"
    },
	
    {
      "name" : "Village Attack",
      "planetName" : "[Bullet Hell]",
      "warpAction" : "InstanceWorld:gic_fantesar_villageattack",
      "icon" : "default"
    },
	
	
    {
      "name" : "WIP Esther's Storyline",
      "planetName" : "[4 short maps only]",
      "warpAction" : "InstanceWorld:gic_esther_chapter_0_1_arkbeyond",
      "icon" : "default"
    },
	
	
    {
      "name" : "Planet Sortie",
      "planetName" : "[Experimental]",
      "warpAction" : "InstanceWorld:gic_sortie_1",
      "icon" : "default"
    },
    {
      "name" : "Asteroids Sortie",
      "planetName" : "[Experimental]",
      "warpAction" : "InstanceWorld:gic_sortie_protectorateasteroidoutpost",
      "icon" : "default"
    },
    {
      "name" : "Protectorate Prologue 1",
      "planetName" : "[Cancelled Stealth]",
      "warpAction" : "InstanceWorld:gic_prologue_protectorate_1",
      "icon" : "default"
    },
    {
      "name" : "Protectorate Prologue 2",
      "planetName" : "[Cancelled Stealth]",
      "warpAction" : "InstanceWorld:gic_prologue_protectorate_2",
      "icon" : "default"
    },
    {
      "name" : "Protectorate Prologue 3",
      "planetName" : "[Cancelled Open-world]",
      "warpAction" : "InstanceWorld:gic_prologue_protectorate_3",
      "icon" : "default"
    }
	
	
	
	
	
	
	
	
	
	
//    {
//      "name" : "Zeichenbach",
//      "planetName" : "[Hard]",
//      "warpAction" : "InstanceWorld:gic_fantesar_arena_zeichenbach",
//      "icon" : "default"
//    }
  ]
}
