{
  "canBookmark" : false,
  "bookmarkName" : "None",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Return to Ship",
      "planetName" : "[The vault ends here...]",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    }
  ]
}
