{
  "canBookmark" : false,
  "bookmarkName" : "RUNDOWN: HUB",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Bunbunmaru Office",
      "planetName" : "Aya.S",
      "warpAction" : "InstanceWorld:gic_wildlands_ayashameimaru_office_hubworld",
      "prerequisiteQuest" : "gic_wildlands_ayashameimaru_0_rivalnewsreporterquest",
      "icon" : "gic_esther_chapter_1"
    },
    {
      "name" : "Aya's Safehouse",
      "planetName" : "Aya.S",
      "warpAction" : "InstanceWorld:gic_wildlands_ayashameimaru_safehouse_hubworld",
      "prerequisiteQuest" : "gic_wildlands_ayashameimaru_4_cityescapequest",
      "icon" : "gic_esther_chapter_1"
    }
	
  ]
}