{
  "canBookmark" : false,
  "bookmarkName" : "Mission Exit",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Port District",
      "planetName" : "[Office]",
      "warpAction" : "InstanceWorld:gic_wildlands_ayashameimaru_mission_3_2_portdistrictoffice",
      "icon" : "gic_esther_chapter_1"
    }
	
  ]
}