{
  "canBookmark" : false,
  "bookmarkName" : "Mission Exit",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Convenience Store",
      "planetName" : "[Basement]",
      "warpAction" : "InstanceWorld:gic_wildlands_ayashameimaru_mission_1_2_conveniencestorebasement",
      "icon" : "gic_esther_chapter_1"
    }
	
  ]
}