{
  "canBookmark" : false,
  "bookmarkName" : "Mission Exit",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Bradley's House",
      "planetName" : "[Fight]",
      "warpAction" : "InstanceWorld:gic_wildlands_ayashameimaru_mission_2_3_workershousefight",
      "icon" : "gic_esther_chapter_1"
    }
	
  ]
}