{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_ibuki_gourd_heal_area",
      "config" : {
        "statusEffects" : [
        "gic_pinged_ibuki_gourd",
		"gic_healingflask_medkitheal",
		"gic_healing_slowdown_1",
      {
        "effect" : "gic_bleeding_lightStatusImmunity",
        "duration" : 1
      },
      {
        "effect" : "gic_bleeding_mediumStatusImmunity",
        "duration" : 1
      },
      {
        "effect" : "gic_bleeding_heavyStatusImmunity",
        "duration" : 1
      }

		]
      }
    }

  ]
}
