{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "Target spotted!",
        "He's returned!",
        "So you came back!",
		"Target spotted!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Let's go! Let's go!",
        "Let's get this over with!",
        "Let's go!",
	    "You have no chance!",
        "C'mon! Move it!",
        "Over there!",
        "Move! Move!",
		"Move!",
		"I see the target!",
		"Target spotted! Get moving!",
		"Over there! I see them!",
        "Target! I see them!",
		"Target!",
		"Hey! Eyes open!",
        "You won't know what hit your head!",
		"Surrender!",
		"Give up now!",
		"You're going to die anyways! Just give up!",
		"You're going to die anyways!",
		"Go!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Success!",
        "Target down!",
        "One down!",
        "Good work!",
        "Yes!",
		"Target is downed!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will find you!",
        "I didn't lose them! One of you lost them!",
        "Target lost!",
        "Find them!",
        "Group up and find them!",
		"We need to find them!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Search for them!",
        "They're getting away!",
        "Where did they go...",
        "Where are they!?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Damn, man!",
        "Come here!",
        "Get back here!",
		"Damn!"
      ]
    }
  }
}
