{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "Target spotted!",
        "He's returned!",
        "So you came back!",
		"Target spotted!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Attack!"
      ]
    },
    "gic_realistichuman" : {
      "default" : [
        "Let's get this over with!",
        "I'll rip your head!",
        "Who the hell taught you how to fight!?",
	    "You have no chance!",
		"I'll see you in hell!",
        "I don't go down so easy!",
        "We have tactical superiority!",
        "Haha, you came to the wrong place fool!",
        "I'm going to fucking skin you alive!",
        "Target spotted!",
        "Set weapons to kill!",
		"I am the wall!",
		"Who do you think you are!",
        "You won't know what hit your head!",
		"Fucker!",
		"Little shithead!",
		"Who the fuck taught you how to fight!?",
		"Who the fuck taught you how to fight!? Ghandi!?",
		"You'll perish in the fires of my gun!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Who's the elite? Me!",
        "Victory!",
        "Target dead!",
        "I didn't even break a sweat!",
        "My gun is dirty...",
        "I'm pretty good at this!",
        "No sweat.",
        "Don't come back!",
        "Yes!",
        "Fucker...",
		"Hostile downed!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will find you!",
        "I didn't lose them! One of you lost them!",
        "Target lost!",
        "Find them!",
        "Group up and find them!",
        "Come back so I can kill you!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Search for that bastard!",
        "They're getting away!",
        "Where did they go...",
        "Get back here!",
        "Hey come back!",
		"Motherfucker!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Get back here!",
        "Shit-eater!",
		"Oh fuck!"
      ]
    }
  }
}
