{
  "reattack" : {
    "default" : {
      "default" : [
        "Target spotted!",
		"Target! Target!",
		"Target spotted! Engaging!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Over there!",
        "Enemy target!",
        "Hey! Stop!",
	    "Radio check. Target spotted.",
		"Engaging target.",
        "Engaging target. Cover me.",
        "We have tactical superiority!",
        "There's the target.",
        "Target within firing range.",
        "Target spotted!",
        "There's the target. Engaging.",
		"Target is armed and dangerous. Open fire.",
		"Shut the fuck up!",
		"Shut up! Shut the fuck up!",
		"Fucking imports!",
		"Fuck off, scumbag!",
		"Piece of shit!",
		"Fucking scumbag!",
        "Shit!",
		"Target on the move!",
		"Don't fear them! Move!",
		"Target! Target!",
		"Hold it!",
		"Open fire!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Target is down!",
		"Target is down! Move!",
		"Target downed! Move!",
        "Target downed!",
		"Hostile downed!",
		"Move before their friends arrive!",
		"Bag and tag!",
		"Move it!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I didn't lose the target! One of you guys must've lost the target!",
        "Target lost!",
        "Find them!",
        "Target has been lost!",
        "Lost the target!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Move!",
		"Move before they get out of range!",
        "Target is retreating! Move!",
        "Target out of range!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Out of range!"
      ]
    }
  }
}
