{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "gic_soldierslayerloop_explosion",
      "config" : {
        "statusEffects" : [ "gic_soldierslayerloop_damage" ]
      }
    },
    {
      "action" : "light",
      "color" : "white"
    }

  ]
}
