{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "gic_soldierslayerloop_frenzydust_explosion",
	  "damageTeam" : { "type" : "indiscriminate" },
      "config" : {
        "statusEffects" : [ "gic_frenzydust" ]
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/melee/gic_bloodborne_magic-bomb.wav" ]
    },
    {
      "action" : "light",
      "color" : "white"
    }

  ]
}
