{
  "reattack" : {
    "default" : {
      "default" : [
        "Suspect!",
		"Target spotted!",
		"Code 147!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "You're going to hell!",
		"Hostile!",
		"Intruder!",
		"Security breach!",
		"Breach!",
		"Go! Go! Go!",
		"We have a breach!",
		"We have a security breach!",
		"We have a code 245! I say again, 245!",
		"Suspect is armed and dangerous!",
		"Center-mass! Center-mass!",
		"Center-mass!",
		"Code 245!",
	    "Code 245! Suspect is shoot-to-kill!",
		"Code 217!",
		"Code 240! Assault in progress!",
		"Code 417! Suspect is armed and dangerous!",
		"Weapons hot!",
		"Open fire on the suspect!",
		"Clean shots only!",
		"Who are they!?",
		"Take positions!",
		"Watch your fire!",
		"Clean shots only!",
		"Remain calm and focus fire!",
		"We need backup!",
		"Don't make it worse! Surrender!",
		"Open fire!",
		"Full-Force forward!",
		"Breach!",
		"Breach! Breach!",
		"Squeeze those triggers!",
		"Prevent their escape!",
		"Clear out the hallways!",
		"Fucking robot guns!",
		"Stay calm!",
		"Assault Team moving forward!",
		"Get the Assault Team in there!",
		"We gotta push forward!",
		"Assault Team going in!",
		"Who the fuck are these guys!?",
		"Who are these lunatics!?",
		"Suppressing fire!",
		"Trespassers!",
		"We need to bring in reinforcements!",
		"Fucking trespassers!",
		"Weapons free!",
		"Weapons free! I say again, weapons free!",
		"Open fire!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Target neutralized!",
		"Suspect neutralized!",
		"Suspect is no longer a threat!",
		"Target taken down!",
		"Target down!",
		"Come back anytime.",
		"Come back anytime, hah!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Shit! He could be anywhere!",
        "Regroup!",
        "Oh fuck!",
        "We lost sight of the target!",
        "Target lost!",
        "Find them!",
        "Group up and find them!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Target lost! Search the area!",
        "Target lost!",
		"Cease fire! Cease fire!",
		"Cease fire!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "They're over there!"
      ]
    }
  }
}
