{

  "greeting" : {
    "default" : {
      "default" : [
        "What I'm about to ask isn't exactly... safe. Interested?",
		"Can you help me with something?",
		"You got a gun right? Can you help me with something?",
		"Mind helping me with something potentially dangerous?",
		"Got an itchy trigger finger? I can scratch that for you.",
		"If you don't mind getting your hands dirty, I might have something for you.",
		"I got something that might not exactly be safe. Interested?",
		"If you're in short supply of credits and don't mind on how you'll get it, I got something for you.",
		"Hey, come on, help me out here. I got something for ya'.",
		"If you're not concerned with danger, then I've got a job for you."
      ]
    }
    },

  "converse": {
	
	

	
    "default" : {
      "default" : [
	  
	    "Sure, waste my time <entityname>. The logs, buddy."

      ]
    }
	
	

	
	
  }
}