{
  "reattack" : {
    "default" : {
      "default" : [
        "Suspect.",
		"Target spotted.",
		"Code 147."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
		"Hostile.",
		"Intruder.",
		"Breach.",
		"Go.",
		"Security breach.",
		"Suspect is armed and dangerous.",
		"Code 245.",
	    "Code 245. Suspect is shoot-to-kill.",
		"Code 217.",
		"Code 240. Assault in progress.",
		"Code 417. Suspect is armed and dangerous.",
		"Weapons hot.",
		"Open fire on suspect.",
		"Take positions.",
		"Watch fire.",
		"Breach.",
		"Assault Team moving forward.",
		"Suppressing fire.",
		"Trespassers.",
		"Weapons free.",
		"Open fire."
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Target neutralized.",
		"Suspect neutralized.",
		"Suspect no longer a threat.",
		"Target taken down.",
		"Target down."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Regroup.",
        "Target lost.",
        "Regroup. Relocate."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Search the area.",
        "Target lost.",
		"Cease fire."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Target out of range."
      ]
    }
  }
}
