{
  "hail" : {

    "default" : {
      "default" : [
"Stay out of trouble.",
"Don't try anything funny.",
"Not fair...",
"I can't die. Not here...",
"Where are they...",
"Out of element, they say.",
"How did we let this happen?",
"Can't believe I used to make more than him before all this...",
"This is bullshit.",
"I've had enough of this bullshit.",
"This whole damn place stinks.",
"This is a bloody massacre.",
"At least they don't have small mutants.",
"God, at least the children die when infected.",
"It just... outgrows, rips their skin off...",
"Would it help if I stood still?",
"I wouldn't trust those other guys...",
"Stuff's killing us, and we just mined it...",
"Can't believe people mine this stuff.",
"The wonder fuel, they said.",
"And our price for curiosity!",
"Work together, huh?",
"Just how it is now.",
"Felt like only yesterday we were just fighting each other.",
"Feels like just yesterday that we were living the normal life.",
"Yes, it's clear. No, fuck off.",
"How's your sector holding up, over?",
"Sector clear, out.",
"Yes, the fuckers are still out there. Out.",
"What's the cleanup progress in our sector, over?",
"Goddamn cheap radio...",
"Dude, get the fuck off comms net. Clear comms!",
"Weak with interference, say again.",
"Unreadable, say again.",
"Loud and clear, over.",
"Radio check, over.",
"Use full call signs!",
"Silence lifted, you fucks.",
"Stop whining, we will get you your ammo, out.",
"I say again, hold your position against those zombies!",
"Stop broadcasting garbage!"

		
         
		
		
		
		
		
		
		
      ]
    },
    "floran" : {
      "default" : [
        "Sstay out of trouble.",
        "I'll 'liberate' you if I have to.",
        "Thiss place sure beats living in shitty huts...",
        "Behave yourssself.",
        "Gun or stun, both'll hurt.",
        "I'm a Veteran of the Great Floran War. I don't want another firefight...",
        "Keep it moving, traveller. Nothing to ssee here.",
        "Don't tempt me.",
        "Keep moving, traveller.",
        "Obey Colony law. Don't make it harder for yourself."
      ]
    },
    "apex" : {
      "default" : [
        "Stay silent, traveller, and do not cause any trouble.",
        "Obey Colony law.",
        "Aggressive acts of violence against the Colony will result in a lethal response.",
        "Acts of aggression will not be tolerated.",
        "Every act has repercussions.",
        "Nothing here.",
        "Keep moving.",
        "Any act of violence will be met with serious consequences.",
        "Mouth shut, eyes forward.",
        "Keep it silent, traveller."
      ]
    },
    "hylotl" : {
      "default" : [
        "Let us be peaceful, and have tranquility reign over our encounter within the confines of this Colony.",
        "Obey Colony law!",
        "Walk well, stranger.",
        "We ask only that you obey Colony law.",
        "Acts of violence may result in a lethal response.",
        "I hope the serenity of our surroundings will influence your actions.",
        "Eyes forward.",
        "Keep it moving, Citizen.",
        "Do not test me.",
        "Welcome, stranger. Are you here to seek places forgotten by the public?"
      ]
    },
    "avian" : {
      "default" : [
        "Don't try us.",
        "Move along.",
        "Just a space bird. Move along, Citizen.",
        "I hope your time here is pleasant.",
        "Salutations, traveller.",
        "You're welcome here, as long as you don't disrupt Colony services.",
        "There is no honor, only death.",
        "We'll get along just fine.",
        "As long as you don't break anything or kill anyone, you are welcome here.",
        "Eyes on you, traveller."
      ]
    },
    "novakid" : {
      "default" : [
        "Don't cause no fuss around here, partner.",
        "If you don't intend to cause trouble, then we'll get on jus' fine.",
        "We're mighty fine with strangers, as long as they aren't trouble.",
        "I forget, have we seen you round here before?",
        "Hope you enjoy our ol' village, partner. Jus' don't cause no trouble.",
        "There's been thieves around these parts lately. We don't take kindly to stealin'.",
        "Howdy!"
      ]
    }
  }
}