{
  "hail" : {
  
    "default" : {
      "default" : [
		"Obey Colony Law. Failure to do so will result in a lethal response.",
		"Obey Colony Law.",
		"Lethal force will be met with extreme prejudice.",
		"The Colony has its eyes on you.",
		"Do not tread on the Colony.",
		"Discharges of weaponry into non-combatants will result in discharges of lethal force into the perpetrator.",
		"Colonial Autonomous Units act as Judge, Jury and Executioner as seen fit by local forces.",
		"Uphold the law as you would your own life.",
		"Do not disrupt the Colony's Services to its people.",
		"The colony is the lifeblood and oil of those that serve under it."
      ]
    }
	
  }
}