{

  "greeting" : {
    "default" : {
      "default" : [
        "What I'm about to ask isn't exactly... legal. Interested?",
		"Can you help me with something?",
		"You got a gun right? Can you help me with something?",
		"Anyone else would jump on an opportunity like this!",
		"Mind helping me with something potentially illegal?",
		"Got an itchy trigger finger? I can scratch that for ya'.",
		"If you don't mind getting your hands dirty, I might have something for you.",
		"I got something that might not exactly be legal. Interested?",
		"If you're in short supply of credits and don't mind on how you'll get it, I got something for you.",
		"Hey, come on, help me out here. I got something for ya'.",
		"If you're not concerned with morals, then I've got a job for you.",
		"You have a gun. I have a job for you. Any questions?",
		"Wanna do something bad for the good guys? Come on up.",
		"Scan completed... Hey! <entityname>! I got a good job just for you!"
      ]
    }
    },

  "converse": {
	
	

	
    "default" : {
      "default" : [
	  
	    "Bring the requested modules to finish our deal, <entityname>."

      ]
    }
	
	

	
	
  }
}