{

  "greeting" : {
    "default" : {
      "default" : [
        "Sup?",
        "Hello.",
        "Hi.",
        "How's it going?",
        "How's it?",
        "Yo!",
        "Hey, great to see you.",
        "Hey, what's up?",
        "Oh hey, how's it going?",
        "You seem like a nice sort.",
        "Thanks for dropping by.",
        "Great to see you, pal.",
        "Hey, nice to meet you.",
        "Nice meeting ya!",
        "What's up?",
        "Hey.",
        "Hey! Welcome!",
        "Alright?",
        "Oh hey.",
        "You alright?",
        "You good?",
        "Alright mate?",
        "Welcome!",
        "What you up to?",
        "Hellooo.",
        "Good to see you.",
        "How're things?",
        "How's life treating you?",
        "Hey, what's happening?"
      ]
    }
    },

  "converse": {
	
	
	
	
	
	//Human talking starts here!
	//Default means chosen species subset
	//Generic means additional responses for all races regardless of default or specific
	
	
    "default" : {
      "default" : [
	  
	    "People mine this shit? It's fucking trying to kill us!",
		"People mine this stuff?",
		"Bloody rocks are alive!",
		"The rocks are alive!",
		"Rock zombies, just what we needed...",
		"Zombies? This shit?",
		"I thought I saw a ghost, but somebody set it on fire.",
		"We have bigger problems right now.",
	    
        "This ain't funny, you know.",
        "Place has gone to shit.",
        "Lonely space my ass.",
        "Massive universe and nobody coming to get us outta here.",
        "Wish we had some spaceships to get off this rock.",
        "We're holding out just fine, but damn this Erchius.",
        "I don't like it, this Erchius mutant stuff.",
        "So it's our problem to deal with this Erchius shit...",
                "I hope the mutants don't kill us off before backup arrives.",
        "You here to join the security teams?",
        "Unify for once and help us fight off these mutant fucks.",
        "How are we supposed to get off this rock?",
        "They didn't tell us about this Erchius shit, man.",
        "Let's fight those zombie bastards.",
        "Hey, at least now unemployment is at an all-time low, eh?",
        "Man, this sucks.",
        "We can kill the zombies, but how are we gonna kill the damn rocks!?",
		"So what do we do with the Erchius rocks?",
		"So the rocks are going to eat up bodies and turn it into more Erchius...",
		"Make sure to burn the bodies. The Erchius reclaims that stuff.",
        "To hell with this Erchius rock bullshit. We'll kill 'em all!",
        "I only learned how to use a gun recently.",
        "Everybody has a role to play in fighting this outbreak, no matter who you are.",
        "The mutants won't get us, that's for sure.",
        "Don't let the rocks grow inside you, that's how they infect you.",
        "The rocks are alive, I swear to god.",
        "I'm not really rooting for anyone here, just here for the shooting.",
        "I used to like the void, but now I don't.",
        "Damn it all to hell with this Erchius mutant stuff.",
        "It had to be the Erchius, didn't it?",
        "Just consolidate our ammo and we'll be fine fighting back.",
        "We'll hold the line against those monsters.",
        "I reckon we'll win this.",
        "Gah...",
        "*grumbles*",
        "Look alive, buddy.",
        "I already miss the old days.",
        "What time is it?",
        "Yo, buddy. Still alive?"

      ]
    }
	
	

	
	
  }
}