{
  "hail" : {
  
    "default" : {
      "default" : [
        "Welcome.",
	    "Don't cause any trouble.",
	    "Keep moving.",
        "Stay out of trouble.",
        "A visitor? Those are rare nowadays.",
        "I hope you have permission to be in here.",
        "Feel free to take a look around.",
		"Move along.",
		"Not everything will be there to loot. Move along.",
		"Let's keep things friendly, eh?",
        "No, you're not going to be able to loot everything.",
        "Nothing to see here.",
        "Don't try anything funny.",
        "Hello.",
		"Obey Colony law. Failure to do so will result in a lethal response.",
				
		
		
		
		
		
"Any chance you'll share your food with me tonight?",	
"Better make a pass over here.",
"How old did you say your sister was?",
"You should bathe. I can smell you from here.",
"Tired yet?",
"Let me know if you want to gamble on the hounds again.",		
"Did you hear one of the new guys got dragged off by the higher-ups? Some kind of black magic nonsense?",		
"See any big rat swarms?",
"Blow off.",
"I don't need shit from you.",
"You're such a choffer.",
"Another night, another patrol with you.",
"You always amuse me.",
"Blow off, choffer.",

"People have the worst taste.",
"I'll write to her again, she has to see reason.",
"Should we gather for whiskey and cigars tonight?",
"Someone's supposed to be on duty over here.",
"Think you'll get your own squad after what happened last night?",
"I heard you got eaten alive at cards.",
"Things are bad. Could the galaxy get any worse?",
"Why is no one making rounds over here?",
"Hey, where are you? Stay at your post.",
"Damn, I can not count on him.",
"None of this would've gotten so bad if those damned fools at the Protectorate didn't let the xenos in...",
"Damn... how did I lose that?",
"Hey, it's missing. Someone's been going through my things again.",
"Indeed. I believe so.",
"Never doubt it.",
"Chances are very good.",
"Yes, of course.",

"Tell me again what you'll do if those criminals jump you again.",
"Hey don't you owe me a drink?",
"Hey, can I buy your ration of whiskey from today?",
"Let me know if you wanna take my patrol.",
"Let me know if you wanna take my shift.",
"Please, not now.",
"Bug someone else",
"I don't need shit from you.",

"Shall we gather for whiskey and cigars tonight?",
"How much fucking longer do I have to... Fuck...",
"Stupid war... rats... *grumbles*",
	
"My brother joined the Occasus, I hope I never have to see him on the battlefield.",
"I thought about leaving for another colony. Better pay and all.",
"My family hopes one day I'll get promoted so I can earn enough money for retirement.",
"Oh hell, how many men does it take to guard an area?",
"Rations this, rations that.",
"Pay's just 'round the corner.",
"Damn. The hell am I supposed to look for?",
"Politicians all talk big, but no results...",
"Zero xenophobia, zero jobs, and zero future.",
"Broadcasts say Rogue Protectors are in the thousands out there. Entire planets can go dry from just one of them. Freaky stuff.",
"Broadcasts say Rogue Protectors are behind all the attacks on the colonies. Ten thousand credits to the one who stops each one. Imagine what you could do with that much money.",
"All garbage signals out there nowadays.",
"Criminals make my job harder...",
"Pfft, whatever.",

"Our numbers are down.",
"Gotta shape up.",
"Agh. Sucks here.",
"I feel like I'm melting.",
"Today is going to be different. I feel it.",

"I am so tired of listening to your voice.",
"I stopped listening to you five minutes ago.",
"My sidearm keeps jamming, piece of shit.",
"This is the best working gun I've ever had.",
"Agh, I lost my canteen again.",
"Keep an eye on your stuff, some of the other guys have sticky fingers.",

"Something better happen soon, I'm going crazy.",
"Ya, and you hate when we're in the middle of a fucking firefight!",
"You know me, brother. I'm a hater, not a lover.",
"This is the slowest way to make money.",

"Huh?",
"What was that?",
"What the? Same sound as before?",
"There it is again.",
"I heard a noise.",
"Nothing after all.",
"I must be imagining things.",
"Probably just the wind or animals or my imagination.",

"Something I ate isn't sitting well.",
"Where's some cover when you need it?",
"I bet that still wakes you up at night.",
"One day I'll have my own Type-7. One day."		
		
		
		
		
		
		
		
		
		
		
		
      ]
    }
	
  },
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  "hailUnitan" : {
    "default" : {
      "default" : [


        "Scan complete. You're a wanted fellow, <entityname>. Get moving.",
        "Scan complete, <entityname>. Get out of here.",
        "<entityname>.... Move along then.",
        "Scan complete, <entityname>. You can't run from your sins.",	
		"Stay out of trouble <entityname>.",
		"I thought fellows like you always followed the law. Get out of my sight, <entityname>.",
		"I thought fellows like you always followed the law. Get going, <entityname>."
		
		
		
      ]
    }
  },
  
  "hailAlliance" : {
    "default" : {
      "default" : [

        "Scan complete. You're a wanted fellow, <entityname>.",
        "Scan complete, <entityname>. Get going.",
        "<entityname>, huh. Move it.",
        "Scan complete, <entityname>. Stay out of trouble.",	
		"Don't try anything funny <entityname>.",
		"I thought fellows like you always followed the law. Get out of my sight, <entityname>.",
		"I thought fellows like you always followed the law. Get going, <entityname>."
		
		
		
      ]
    }
  },  
  
  
  "hailProtectorate" : {
    "default" : {
      "default" : [
        "<entityname> scanned. I thought Protectors always followed the law. Get out of my sight!",
        "<entityname> scanned. I thought Protectors always followed the law. Move along then!",		
        "<entityname> scanned. I thought Protectors always followed the law. Get going!",
        "Scan complete. You're a wanted fellow, <entityname>. Get the hell out of my sight.",
        "Scan complete, <entityname>. Get going. Now."
		
      ]
    }
  }
  
  
  
  
  
  
  
}