{
  "reattack" : {
    "default" : {
      "default" : [
        "Hostile!",
		"Target spotted!",
		"Enemy over there!",
		"Zombie, front!",
		"Over there!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
		"Hostile!",
		"Intruder!",
		"Breach!",
		"Go! Go! Go!",
		"We have a breach!",
		"Weapons hot!",
		"Clean shots only!",
		"Who are they!?",
		"Take positions!",
		"Watch your fire!",
		"Clean shots only!",
		"Remain calm and focus fire!",
		"We need backup!",
		"Open fire!",
		"Breach!",
		"Breach! Breach!",
		"Squeeze those triggers!",
		"Clear out the hallways!",
		"Stay calm!",
		"We gotta push forward!",
		"We need to bring in reinforcements!",
		"Weapons free!",
		"Weapons free! I say again, weapons free!",
		"Open fire!",
		
		"Zombie motherfucker!",
		"That's a zombie!",
		"Die, motherfuckers!",
		"Blast the bloody things!",
		"Eat lead!",
		"Come on, you zombie fuck!",
		"Let's fuckin' gooooooo!",
		"Zombie-lookin' motherfucker!",
		"Shoot! Shoot damnit!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Target neutralized!",
		"Target is no longer a threat!",
		"Target taken down!",
		"Target down!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Shit! That thing could be anywhere!",
        "Regroup!",
        "Oh fuck!",
        "We lost sight of the target!",
        "Target lost!",
        "Find them!",
        "Bunker down!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Target lost! Bunker down!",
        "Target lost!",
		"Cease fire! Cease fire!",
		"Cease fire!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "They're over there!"
      ]
    }
  }
}
