{

  "greeting" : {
    "default" : {
      "default" : [
        "Sup?",
        "Hello.",
        "Hi.",
        "How's it going?",
        "How's it?",
        "Yo!",
        "Hey, great to see you.",
        "Hey, what's up?",
        "Oh hey, how's it going?",
        "You seem like a nice sort.",
        "Thanks for dropping by.",
        "Great to see you, pal.",
        "Hey, nice to meet you.",
        "Nice meeting ya!",
        "What's up?",
        "Hey.",
        "Hey! Welcome!",
        "Alright?",
        "Oh hey.",
        "You alright?",
        "You good?",
        "Alright mate?",
        "Welcome!",
        "What you up to?",
        "Hellooo.",
        "Good to see you.",
        "How're things?",
        "How's life treating you?",
        "Hey, what's happening?"
      ]
    }
    },

  "converse": {
	
	
	
	
	
	//Human talking starts here!
	//Default means chosen species subset
	//Generic means additional responses for all races regardless of default or specific
	
	
    "default" : {
      "default" : [
        "We did nothing wrong to you, just leave us be.",
        "I've got no beef with you, man.",
        "We'll leave soon, I can feel it.",
        "Another night, another swarm of drones.",
        "Colony intranet is so expensive.",
        "I feel so inconsequential...",
        "Nobody here wants to fight, so keep it in your pockets.",
        "Something weird is going on here.",
        "Shh! Keep your head down!",
        "You don't look like one of the citizens. Are you from outside the city walls?",
        "I'm gonna go on a treasure hunt.",
        "I just want to eat some steak.",
        "Keep your weapons down. Noone wants any part of this war.",
        "I'm just here to keep the people safe.",
        "I don't want any part of this war. I'm just here to keep the people safe.",
        "One day the war will end.",
        "I bet you've got a few stories to tell.",
        "I wonder what they want...",
        "400 billion stars, and the Protectorate just claims we've seen it all? Something's off.",
        "What's next on the chopping block?",
        "One day, those habitable planets are going to run out.",
        "Pearlpeas this, Alien Fruit Jam that...",
        "Man, it's always canned food or rations for dinner...",
        "I am wicked hungry.",
        "Hey...",
        "Hey, hey, chill, we good.",
        "Can't sleep. Always fighting.",
        "Whoa, keep those powers tucked.",
        "Politics? You want to talk politics!?",
        "Gunfire at night. Every, damned, night.",
        "So many monsters out there yet so little difference.",
        "No bugs in this place.",
        "Let's hang out sometime.",
        "I'm sure I've seen you somewhere before.",
        "I reckon we'd get on well.",
        "Could do with some damned Type-7s right about now.",
        "*grumbles*",
        "Are you... this planet's fucked...",
		"You're not one of them Rogue Protectors are you? Oh god...",
        "You're one funky little dude.",
        "Hey, keep your head down!",
        "The cold keeps the machines running longer.",
        "I have a heart of iron!",
        "You'd think colonies like these would have better heating.",
        "Night hits, you get inside.",
        "The night's the coldest of times. That's when the machines run at peak performance.",
        "Maybe the AI Director will pull us out of this.",
        "Too much fighting. I just hope it'll be alright.",
        "One of my mates got dragged away...",
        "In the door I heard her say ''It'll be alright in the long run.''",
        "Keep pushin', pal.",
        "Those damned machines...",
		"Goddamnit...",
        "I've lost my tools again...",
        "Look alive, buddy.",
        "It's hard to find good shops these days.",
		"Can never keep track of the time...",
        "Damned machines...",
		"Yo, buddy. Still alive?"
      ]
    }

	
	
  }
}