{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "gic_trenchwhistle_area_explosion",
      "config" : {
        "statusEffects" : [
        "gic_pinged_trenchwhistle",
      {
        "effect" : "gic_trenchwhistle_suppressedStatusImmunity",
        "duration" : 60
      }

		]
      }
    }

  ]
}
