{
  "helpme" : {
    "default" : {
      "default" : [
        "..."
      ]
    },
    "floran" : {
      "default" : [
        "Please! Have mercy!",
        "I don't want to die!",
        "It wasn't my choice! Please!",
        "I'm not a primitive! Please!",
        "Lord, please have mercy!",
        "Why?"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "..."
      ]
    },
    "floran" : {
      "default" : [
        "I don't want to die...",
        "Why?",
        "They want genetic purity...",
        "Death is coming...",
        "Not now..."
      ]
    }
  }
}