{
  "reattack" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Attack!"
      ]
    },
    "human" : {
      "default" : [
        "Embrace...",
		"You...",
		"Fearful...",
		"Desecrated...",
		"Destroyer...",
		"Demon...",
		"Return...",
		"Death...",
		"End...",
		"Leave...",
		"Robber...",
		"Grave...",
		"Fool...",
		"Lost...",
		"..."
		
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
  }
}
