{
  "reattack" : {
    "default" : {
      "default" : [
        "Terrorist returned!",
		"Over there!",
		"There he is!",
		"That's the terrorist again!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Attack!"
      ]
    },
    "human" : {
      "default" : [
        "Fucking terrorist!",
		"Engaging target!",
		"Opening fire!",
		"Weapons hot!",
		"Located the target.",
		"There's the target!",
		"Suspect designated for termination!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Suspect neutralized.",
		"Target neutralized",
		"Suspect neutralized. Proceeding to next target.",
		"Proceeding to next target.",
		"Mission complete. Moving to next target."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Shit! Lost the target!",
        "Fuck!",
        "God fucking damnit!",
        "?",
        "Locating target...",
		"Scanning area.",
		"Command, requesting location of target designated for termination. Over.",
        "Command, this is Searcher Unit. Lost target, over.",
        "Command, requesting location of suspect.",
		"Fucking terrorist! Always hiding!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Target was tagged.",
		"He's tagged. He can't hide forever.",
		"Target already tagged. He'll come out.",
		"You're only making this harder for yourself, buddy!",
		"Fucking terrorist! Always hiding!",
		"Come back, you fucking coward!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Tagging!",
        "Target out of range! Tagging!",
        "!?",
        "Target out of range!"
      ]
    }
  }
}
