{
  "reattack" : {
    "default" : {
      "default" : [
        "Контакты! Та же цель!", // Contact! Same Target!
        "Контакты!", //Contact!
		"Целевая точка" //Target spotted!
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Там!", //over there
        "Целевая задача!!", //Target
        "Дерьмо!", //Shit!
        "Контакты! Контакты!", //Contact! Contact!
        "Контакты!", //Contact!
        "Контакт, двенадцать часов!", //Contact 12 o clock!
        "Враждебные!", //Hostile!
        "Бандит!", //Bandit!
        "Враг!", //Enemy!
		"Атака!" //Attack!
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
		"Цель нейтрализована!", //Target neutralized!
		"Враждебный вниз!" //Target down!
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Высокая тревога!", //High alert!
        "У нас есть бегун!", //We got a runner!
        "Я не потерял их, один из вас потерял их!", // I didn't lose them, one of you lost them!
        "Цель потеряна!" //target lost
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Быстро!", //quick!
        "Цель скрыться!", //Target out of sight
        "Куда они делись...", // Where did they go
		"Никакого визуального контакта!", //No visual on contact!
        "Где...", //Where...
        "Вот дерьмо!" // Oh shit!
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Цель вне диапазона!" // Target out of range
      ]
    }
  }
}
