{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Attack!"
      ]
    },
    "human" : {
      "default" : [
        "The Apex will truly unite us all!",
		"There is no truth in machine! Only flesh!",
		"Flesh is the future!",
		"You will become inferior!",
		"The Apex will make us superior!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
		"Unworthy flesh!",
		"We will achieve true peace!",
		"Only the worthy will ascend!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will find you!",
        "It's not over yet!",
        "Don't come back!",
        "I didn't lose them! One of you lost 'em!",
        "Target lost!",
        "Find them!",
        "Group up and find them!",
        "Come back so I can kill you!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Search for the bastard!",
        "Find them!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Target out of range!"
      ]
    }
  }
}
