{
  "canBookmark" : false,
  "bookmarkName" : "Part 3: Flakturm",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 4: Flakturm Escape",
      "planetName" : "Mars",
      "warpAction" : "InstanceWorld:gic_leedscharge_6",
      "icon" : "default"
    }
  ]
}