{
  "canBookmark" : false,
  "bookmarkName" : "Part 2: Trenches",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 3: Flakturm",
      "planetName" : "Mars",
      "warpAction" : "InstanceWorld:gic_leedscharge_5",
      "icon" : "default"
    }
  ]
}