{
  "canBookmark" : false,
  "bookmarkName" : "Part 3: The Assault",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 4: The Takeover",
      "planetName" : "Mars: Leeds City",
      "warpAction" : "InstanceWorld:thefrontlinefactorysiege",
      "icon" : "default"
    }
  ]
}

