{
  "canBookmark" : false,
  "bookmarkName" : "Part 1: The Suburbs",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 2: The Darkness Below",
      "planetName" : "Path: Tunnel Systems",
      "warpAction" : "InstanceWorld:thefrontlinetunnels",
      "icon" : "default"
    }
  ]
}