{
  "canBookmark" : false,
  "bookmarkName" : "Part 2: Raining Shells",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 3: The Assault",
      "planetName" : "[NO ALLIES]",
      "warpAction" : "InstanceWorld:thefrontlinefactoryattack_alt",
      "icon" : "default"
    }
  ]
}