{
  "canBookmark" : false,
  "bookmarkName" : "Prologue: Briefing",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 1: Nova's Blast",
      "planetName" : "Assist the Vharkev",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_2",
      "icon" : "default"
    },
	
    {
      "name" : "Part 2: Battle-Train 'Maverick'",
      "planetName" : "Refuse the Vharkev",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_3_alt",
      "icon" : "default"
    }
  ]
}