{
  "canBookmark" : false,
  "bookmarkName" : "Part 1: Nova's Blast",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 2: Battle-Train 'Maverick'",
      "planetName" : "Mars: Red Desert",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_3",
      "icon" : "default"
    }
  ]
}