{
  "canBookmark" : false,
  "bookmarkName" : "Prologue: Briefing",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
  //Skips the flight and goes to Section 3 instead.
    {
      "name" : "Part 1: Ground Assault",
      "planetName" : "Mars: Leeds Outskirts",
      "warpAction" : "InstanceWorld:gic_leedscharge_3",
      "icon" : "default"
    }
  ]
}