{
  "canBookmark" : false,
  "bookmarkName" : "Prologue: Flight",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 1: Ground Assault",
      "planetName" : "Mars: Leeds Outskirts",
      "warpAction" : "InstanceWorld:gic_leedscharge_3",
      "icon" : "default"
    }
  ]
}