{
  "canBookmark" : false,
  "bookmarkName" : "Part 2: Battle-Train 'Maverick'",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
	
    {
      "name" : "Hide in Container",
      "planetName" : "l5LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4_wrongcontainer",
      "icon" : "default"
    },
	
    {
      "name" : "Hide in Container",
      "planetName" : "17LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4_wrongcontainer",
      "icon" : "default"
    },

    {
      "name" : "Hide in Container",
      "planetName" : "6LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4_wrongcontainer",
      "icon" : "default"
    },

    {
      "name" : "Hide in Container",
      "planetName" : "15LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4",
      "icon" : "default"
    },
	
    {
      "name" : "Hide in Container",
      "planetName" : "F18LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4_wrongcontainer",
      "icon" : "default"
    },
	
    {
      "name" : "Hide in Container",
      "planetName" : "T24LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4_wrongcontainer",
      "icon" : "default"
    },
	
    {
      "name" : "Hide in Container",
      "planetName" : "83LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4_wrongcontainer_large",
      "icon" : "default"
    },
	
    {
      "name" : "Hide in Container",
      "planetName" : "12LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4_wrongcontainer",
      "icon" : "default"
    },
	
    {
      "name" : "Hide in Container",
      "planetName" : "92LCTPW",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_4_wrongcontainer_large",
      "icon" : "default"
    }
	
  ]
}