{
  "canBookmark" : false,
  "bookmarkName" : "Part 3: Heat Signature",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Path: Rail Train Escape",
      "planetName" : "[Destination Unknown]",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_5_railescape",
      "icon" : "default"
    }
  ]
}