{
  "canBookmark" : false,
  "bookmarkName" : "Part 3: Heat Signature",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Path: Ship Escape",
      "planetName" : "[Fly to Loyalist Territories]",
      "warpAction" : "InstanceWorld:gic_powerplantdestruction_5_shipescape",
      "icon" : "default"
    }
  ]
}