{
  "canBookmark" : false,
  "bookmarkName" : "Part 2: Three Way Deal",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 3: Gunship",
      "planetName" : "Mars: Unknown Sector",
      "warpAction" : "InstanceWorld:gic_marsdesert_3",
      "icon" : "default"
    }
  ]
}