{
  "canBookmark" : false,
  "bookmarkName" : "Part 4: Flakturm Escape",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Retreat",
      "planetName" : "Mars",
      "warpAction" : "InstanceWorld:gic_leedscharge_7",
      "icon" : "default"
    }
  ]
}