{
  "canBookmark" : false,
  "bookmarkName" : "Part 1: The Suburbs",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 2: Raining Shells",
      "planetName" : "Path: Boone Street",
      "warpAction" : "InstanceWorld:gic_leedscity_boonestreet",
      "icon" : "default"
    }
  ]
}