{
  "canBookmark" : false,
  "bookmarkName" : "Part 1: Landings",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 2: Speed or Strength?",
      "planetName" : "Mars",
      "warpAction" : "InstanceWorld:gic_leedscharge_4",
      "icon" : "default"
    }
  ]
}