{
  "canBookmark" : false,
  "bookmarkName" : "Unknown",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The long flight home.",
      "planetName" : "Mars Desert",
      "warpAction" : "InstanceWorld:gic_testinggrounds",
      "icon" : "default"
    }
  ]
}
