{
  "canBookmark" : false,
  "bookmarkName" : "Part 3: Commandeering",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 4: Escape",
      "planetName" : "Mars: Unknown Sector",
      "warpAction" : "InstanceWorld:gic_marsdesert_4",
      "icon" : "default"
    }
  ]
}