{
  "canBookmark" : false,
  "bookmarkName" : "Part 2: The Tunnels",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 3: The Assault",
      "planetName" : "Mars: Leeds City",
      "warpAction" : "InstanceWorld:thefrontlinefactoryattack",
      "icon" : "default"
    }
  ]
}