{
  "reattack" : {
    "default" : {
      "default" : [
        "You're going to hell!",
		"Hostile!",
		"Intruder!",
		"Security breach!",
		"We have a security breach!",
		"We have a code 245! I repeat, 245!",
		"Suspect is armed and dangerous!",
		"Center-mass! Center-mass!",
		"Center-mass!",
		"Code 245!",
	    "Code 245! Suspect is shoot-to-kill!",
		"Code 217!",
		"Code 240! Assault in progress!",
		"Code 417! Suspect is armed and dangerous!",
		"Weapons hot!",
		"Open fire on the suspect!",
		"Clean shots only!",
		"Who are they!?",
		"Take positions!",
		"Watch the canary!",
		"Who the fuck are we fighting!?",
		"Remain calm and focus fire!",
		"We need backup!",
		"Don't make it worse! Surrender!",
		"Open fire!",
		"Full-Force forward!",
		"Breach!",
		"Breach! Breach!",
		"Squeeze those triggers!",
		"Prevent their escape!",
		"Clear out the hallways!",
		"Fucking sci-fi robot guns!",
		"Stay calm!",
		"Assault Team moving forward!",
		"Get the Assault Team in there!",
		"We gotta push forward!",
		"Assault Team going in!",
		"Who the fuck are these guys!?",
		"Who are these lunatics!?",
		"I'll be damned!",
		"Trespassers!",
		"We need to bring in reinforcements!",
		"Fucking trespassers!",
		"Weapons free!",
		"Weapons free! I repeat, weapons free!",
		"Some sort of fucking sci-fi robot guns!",
		"They have no hostages!",
		"They have no hostages! Full force forward!",
		"Assault Team! Move!",
		"Assault Team! Go Go Go!",
		"They have no hostages! Give 'em all we got!",
		"No hostages! Full force forwards!",
		"They don't have hostages! Assault Team forwards!",
		"Supressing fire!",
		"Weapons hot! I repeat, weapons hot!",
		"Give 'em everything!",
		"Firing!",
		"Who the hell are these guys? Ex-military!?",
		"Ex-military? More like present military...",
		"Son of a bitch!",
		"Rush rush!",
		"Watch your backgrounds!",
		"Who are these guys!?",
		"They need to be stopped!",
		"Assault Team Alpha moving forwards!",
		"Assault Team Beta moving forwards!",
		"Assault Team Charlie moving forwards!",
		"Assault Team Delta moving forwards!",
		"Assault Team Echo moving forwards!",
		"Smoke 'em!",
		"Smoke 'em out!",
		"No hostages! No delay!",
		"Someone tell command we need to move!",
		"No civilians on the scene! Full force forwards!",
		"Get the Assault Team in there!",
		"No hostages! Moving forward!",
        "We're getting chewed up here! Where are the special units!?",
		"What the hell!",
		"Hostages are away! Full force!",
		"What the fuck are those!",
		"Christ almighty!",
		"Get the Assault Teams ASAP!",
		"Who's our commander here!?",
		"Go!",
		"Everybody remain calm!",
		"Hostages all clear! No delays!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "You're going to hell!",
		"Hostile!",
		"Intruder!",
		"Security breach!",
		"We have a security breach!",
		"We have a code 245! I repeat, 245!",
		"Suspect is armed and dangerous!",
		"Center-mass! Center-mass!",
		"Center-mass!",
		"Code 245!",
	    "Code 245! Suspect is shoot-to-kill!",
		"Code 217!",
		"Code 240! Assault in progress!",
		"Code 417! Suspect is armed and dangerous!",
		"Weapons hot!",
		"Open fire on the suspect!",
		"Clean shots only!",
		"Who are they!?",
		"Take positions!",
		"Watch the canary!",
		"Who the fuck are we fighting!?",
		"Remain calm and focus fire!",
		"We need backup!",
		"Don't make it worse! Surrender!",
		"Open fire!",
		"Full-Force forward!",
		"Breach!",
		"Breach! Breach!",
		"Squeeze those triggers!",
		"Prevent their escape!",
		"Clear out the hallways!",
		"Stay calm!",
		"Assault Team moving forward!",
		"Get the Assault Team in there!",
		"We gotta push forward!",
		"Assault Team going in!",
		"Who the fuck are these guys!?",
		"Who are these lunatics!?",
		"I'll be damned!",
		"Trespassers!",
		"We need to bring in reinforcements!",
		"Fucking trespassers!",
		"Weapons free!",
		"Weapons free! I repeat, weapons free!",
		"Some sort of fucking sci-fi robot guns!",
		"They have no hostages!",
		"They have no hostages! Full force forward!",
		"Assault Team! Move!",
		"Assault Team! Go Go Go!",
		"They have no hostages! Give 'em all we got!",
		"No hostages! Full force forwards!",
		"They don't have hostages! Assault Team forwards!",
		"Supressing fire!",
		"Weapons hot! I repeat, weapons hot!",
		"Give 'em everything!",
		"Firing!",
		"Who the hell are these guys? Ex-military!?",
		"Ex-military? More like present military...",
		"Son of a bitch!",
		"Rush rush!",
		"Watch your backgrounds!",
		"They got robot guns!",
		"Who are these guys!?",
		"They need to be stopped!",
		"Assault Team Alpha moving forwards!",
		"Assault Team Beta moving forwards!",
		"Assault Team Charlie moving forwards!",
		"Assault Team Delta moving forwards!",
		"Assault Team Echo moving forwards!",
		"Smoke 'em!",
		"Smoke 'em out!",
		"No hostages! No delay!",
		"Someone tell command we need to move!",
		"No civilians on the scene! Full force forwards!",
		"Get the Assault Team in there!",
		"No hostages! Moving forward!",
        "We're getting chewed up here! Where are the special units!?",
		"What the hell!",
		"Hostages are away! Full force!",
		"What the fuck are those!",
		"Christ almighty!",
		"Get the Assault Teams ASAP!",
		"Who's our commander here!?",
		"Go!",
		"Everybody remain calm!",
		"Hostages all clear! No delays!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Target neutralised!",
		"We got a bitch down!",
		"Bitch down!",
		"Target down!",
		"Target is downed! Secure the area!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Target lost!",
        "Find them!",
        "Group up and find them!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Where did they go...",
		"Cease fire! Cease fire!",
		"Cease fire!",
		"Assault Team! Cease fire!",
		"Even Saddam came out after a while. We'll get 'em eventually."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "They're over there!",
		"Over there!",
		"Over there! Open fire!"
      ]
    }
  }
}
