{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "I thought you fucked off!",
        "So is that how you want it huh?",
        "You came back!",
        "You came back for the pain!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "You look like a corpse already!",
        "Let's get this over with!",
        "Give it up! We're better than you!",
        "Who the hell taught you how to fight!",
        "Eat my ass!",
        "I don't go down so easy!",
        "There's more of us than you!",
        "Prepare to be fisted!",
		"I'm one cheeki breeki bandit!",
		"Eat shit, fucker!",
		"I spit hot borsch!",
		"Poot.",
		"Gouge your eyes! It's fun!",
        "I'll be making craters in Uranus!",
        "Target spotted!",
        "I'll stab your fucking eyes out!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Never mess with us again!",
        "Victory is ours!",
        "So where's the exit?",
        "Guards!? More like nerd-kissers!",
        "I didn't even get a scratch!",
        "What now?",
        "Of course I won!",
        "What's the plan?",
        "So...",
        "Don't come back!",
        "What happens now?",
        "That's what you get!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will find you!",
        "Let's just get the hell outta here!",
        "Where did that shitter go!?",
        "Where did that fucker go!?",
        "Target lost damnit!",
        "Let's just run!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Oh no!",
        "Anyone got eyes on 'em?",
        "Leave 'em! Better safe than sorry!",
        "Get back here!",
        "Hey come back!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Little crybaby needs a gun to fight!",
        "Come here!",
        "Fight me like a man!",
        "Little shit!",
        "Oh fuck."
      ]
    }
  }
}
