{
  "canBookmark" : false,
  "bookmarkName" : "Independent Chapter 0 'Uncooperative'",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Chapter 0-2 - Ground Zero",
      "planetName" : "Unknown Lush World",
      "warpAction" : "InstanceWorld:gic_independent_chapter_0_2_groundzero",
      "icon" : "default"
    }
  ]
}