{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 0 'Prologue' - Part 3",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Hub",
      "planetName" : "Mars: Parel's Hideout",
      "warpAction" : "InstanceWorld:gic_twom_hub",
      "icon" : "default"
    }
  ]
}