{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 0 'Prologue' - Part 2",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 3: 13 Hours",
      "planetName" : "Yanar",
      "warpAction" : "InstanceWorld:gic_prologue_protectorate_3",
      "icon" : "default"
    }
  ]
}