{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 0 'Prologue' - Part 2",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 3: Crash Landing",
      "planetName" : "Mars: Crash Site",
      "warpAction" : "InstanceWorld:gic_twom_ch0_3",
      "icon" : "default"
    }
  ]
}