{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 0 'Prologue' - Part 1",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 2: Metro under Vigilshen",
      "planetName" : "Yanar",
      "warpAction" : "InstanceWorld:gic_prologue_protectorate_2",
      "icon" : "default"
    }
  ]
}