{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 1 'Gazring' - Part 3: Terminal Point",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Gazring Hub",
      "planetName" : "Gazring",
      "warpAction" : "InstanceWorld:gic_esther_chapter_1_hubworld_ringarmhub1",
      "icon" : "default"
    }
  ]
}