{
  "canBookmark" : false,
  "bookmarkName" : "Chapter 1 'Gazring' - Part 2: Grounds Unknown",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Part 3: Terminal Point",
      "planetName" : "Gazring",
      "warpAction" : "InstanceWorld:gic_esther_chapter_1_3_terminalpoint",
      "icon" : "default"
    }
  ]
}