{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "You returned!",
		"Target spotted!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
		"Full force forward!",
		"Flank them! Flank!",
        "This is Advisor! Push forward!",
        "Give it up!",
        "Where are the bloody reinforcements!?",
        "This is advisor! Shoot them!",
		"We're in danger!",
        "This is Advisor! To arms!",
        "To arms!",
        "Target spotted!",
		"I am the fucking wall!",
		"This is Advisor! We got hostiles!",
        "This is Advisor! Hostiles!",
		"They're over there!",
		"Target sighted! Fucking shoot them!",
		"Shoot!",
		"Shoot them!",
		"This is Advisor! Engaging!",
		"Shoot the enemy!",
		"Run away, bastard!",
		"This is Advisor! Enemy spotted!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Victory!",
        "Let's crack a cold one.",
        "I wonder what he had.",
        "Oh man I hope they had some sweet loot.",
        "Man, I hope we get out off this planet soon.",
        "Bloody hell that was tough.",
        "Yes!",
        "That's what you get!",
		"Target neutralised!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will find you!",
        "It's not over yet!",
        "Don't come back!",
        "I didn't lose them! One of you lost 'em!",
        "Target lost!",
        "Find them!",
        "Group up and find them!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "They're getting away!",
        "Where did they go...",
        "Get back here!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Get over here!",
        "Come here!",
        "Get back here!"
      ]
    }
  }
}
