{
  "reattack" : {
    "default" : {
      "default" : [
        "DID YOU THINK YOU WERE FREE?"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "You look like you're loaded with supplies!",
        "No! I won't share! Get your own resources!",
        "The Protectorate is gone! THERE ARE NO MORE RULES!",
        "I will ABSOLUTELY steal all your shit!",
        "Strike me down and I will return more deranged than ever!",
        "I don't know where I am! I only know that I must kill!",
        "My ship won't let me die!",
        "EVERYONE FOR THEMSELVES!",
        "Peace was never an option!"

      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "My mission is never complete!",
        "YOUR LIFE WAS A LIE!",
        "I told you! Only I...will save the galaxy!",
        "I will dispense the death that I am denied!",
        "The Protectorate lied!",
        "Man, I gotta find more drugs soon..."

      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "If I don't kill you, something else will!",
        "You can run. You can hide. AND YOU CAN STILL DIE!",
        "Guess I'll have a smoke then if you've fucked off proper.",
        "Probably ran off to clean the shit out of their pants!"

      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "I know you're still out there! I can smell the shit in your pants!",
        "I WILL HUNT YOU DOWN AND STEAL YOUR ORGANS!",
        "You think you can hide that delicious booty?",
        "I'M COMING FOR THAT ASS."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "You think you're safe over there? FUCK YOU!",
        "I see you! I FUCKING SEE YOU!"

      ]
    }
  }
}
