{
  "reattack" : {
    "default" : {
      "default" : [
        "Why? Why? Why?"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
		"Just die already!",
		"I love you! So die!",
		"Embrace me and die!",
		"I will return!",
		"Strike me down and I will return!",
		"I cannot die!",
		"It won't let me die!",
		"Love me! Love death!",
		"Peace was never an option!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "The mission is never complete!",
		"It won't let me die!",
		"I will... take back the galaxy!",
		"I will finish my mission!",
		"For the Protectorate!",
		"Exomed..."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Agh!",
        "Come here so I can kill you!",
        "I'll make you rest!",
		"Please come back so I can kill you!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Come on... Embrace death.",
		"Come and embrance the reaper.",
		"You think you can hide from death?",
		"There is no life, only death."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Come back here...",
		"You can't hide from death."
      ]
    }
  }
}
