{
  "canBookmark" : false,
  "bookmarkName" : "Story Rundown - Exit Shaft",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Castle of the Tyrant Judge",
      "planetName" : "[TWO PATHS, TWO CHOICES...]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_prisoncomplex_tyrantjudge_throneroom",
      "icon" : "default"
    }
  ]
}