{
  "canBookmark" : false,
  "bookmarkName" : "None",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Return to Surface",
      "planetName" : "[EXPEDITION RETURN AVAILABLE]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_rundownshaft_hub",
      "icon" : "beamup"
    }
  ]
}
