{
  "canBookmark" : false,
  "bookmarkName" : "Vault of the Satori",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Tomb of the Satori",
      "planetName" : "[Strike of the Living]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_tombofthesatori_alt",
      "icon" : "default"
    }
  ]
}