{
  "canBookmark" : false,
  "bookmarkName" : "Tomb of the Satori",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Chamber of the Satori",
      "planetName" : "[War Cry of Earth]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_chamberofthesatori_alt",
      "icon" : "default"
    }
  ]
}