{
  "canBookmark" : false,
  "bookmarkName" : "Behemoth Train Defense",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Vault of the Satori",
      "planetName" : "[Lone Raid]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_vaultofthesatori",
      "icon" : "default"
    }
  ]
}