{
  "canBookmark" : false,
  "bookmarkName" : "Tomb of the Satori",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Grave of the Satori",
      "planetName" : "[Lone Ranger]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_tombofthesatori_epilogue_loneranger",
      "icon" : "default"
    }
  ]
}