{
  "canBookmark" : false,
  "bookmarkName" : "RUNDOWN: HUB",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "RUNDOWN: ARTIFACT",
      "planetName" : "[DEPTH: 200m | SMALL SECTOR]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_bunkercomplex_artifact",
      "prerequisiteQuest" : "gic_khurtovyna_rundown_theadminquest",
      "icon" : "gic_esther_chapter_1"
    },
	
    {
      "name" : "RUNDOWN: DEEPER",
      "planetName" : "[DEPTH: 500m | MEDIUM SECTOR]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_bunkercomplex_deeper",
      "prerequisiteQuest" : "gic_khurtovyna_rundown_anomalyquest",
      "icon" : "gic_esther_chapter_2"
    },
	
    {
      "name" : "RUNDOWN: BIOHAZARD",
      "planetName" : "[DEPTH: 1000m | INFECTION]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_bunkercomplex_biohazard",
      "prerequisiteQuest" : "gic_khurtovyna_rundown_deeperquest",
      "icon" : "gic_esther_chapter_3"
    },
	
    {
      "name" : "RUNDOWN: ETERNAL",
      "planetName" : "[DEPTH: 1500m | //:ERR _A#87]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_bunkercomplex_eternal",
      "prerequisiteQuest" : "gic_khurtovyna_rundown_biohazardquest",
      "icon" : "gic_esther_chapter_4"
    },
	
    {
      "name" : "RUNDOWN: MOBILE TASK FORCE",
      "planetName" : "[DEPTH: 2000m | SEIZE SHIPMENT]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_bunkercomplex_mobiletaskforce",
      "prerequisiteQuest" : "gic_khurtovyna_rundown_eternalquest",
      "icon" : "gic_esther_chapter_5"
    }
	
	
  ]
}