{
  "canBookmark" : false,
  "bookmarkName" : "Story Rundown - Castle of the Tyrant Judge",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "VOID CONTAINMENT UNIT",
      "planetName" : "[FATE OF THE WORLD]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_prisoncomplex_containmentunit",
      "icon" : "default"
    }
  ]
}