{
  "canBookmark" : false,
  "bookmarkName" : "Republic Meeting",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Behemoth Defense",
      "planetName" : "[Defend the Train]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_behemoth_train_defense",
      "icon" : "default"
    },
    {
      "name" : "Behemoth Assault",
      "planetName" : "[Assault the Train]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_behemoth_train",
      "icon" : "default"
    }
  ]
}