{
  "canBookmark" : false,
  "bookmarkName" : "None",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "The Surface",
      "planetName" : "[A New Sky]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_prisoncomplex_epilogue_anewsky",
      "icon" : "default"
    }
  ]
}
