{
  "canBookmark" : false,
  "bookmarkName" : "RUNDOWN: ENTRY",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "RUNDOWN: HUB",
      "planetName" : "[EXPEDITIONARY FORCE]",
      "warpAction" : "InstanceWorld:gic_khurtovyna_rundownshaft_hub",
      "icon" : "default"
    }
	
	
  ]
}