{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },

"Adelaide",
"Amelia",
"Beatriz",
"Ella",
"Erika",
"Genevieve",
"Mirabel",
"Olive",
"Petra",
"Regina",
"Winifred",
"Annora",
"Colette",
"Diamond",
"Eira",
"Emmalina",
"Euphemia",
"Gregoria",
"Honora",
"Jacquette",
"Odelgarde",
"Papa",
"Philomena",
"Sabina",
"Sagrid",
"Thomasina",
"Ursula",
"Anika",
"Bogdana",
"Celestina",
"Dorothy",
"Elisaria",
"Eydis",
"Godiva",
"Gyda",
"Isabeau",
"Jehanne",
"Joan",
"Rephaelle",
"Tiffany",
"Avice",
"Berenice",
"Bodil",
"Brenna",
"Brunhilda",
"Clotilda",
"Desislava",
"Edme",
"Gunnora",
"Hawise",
"Hildegund",
"Luthera",
"Martine",
"Mathilda",
"Maude",
"Zelda",
"Anastasia",
"Catalina",
"Cicilia",
"Filippa",
"Fiora",
"Francesca",
"Ginevra",
"Helen",
"Isabetta",
"Lavinia",
"Madalena",
"Nezetta",
"Serena",
"Astrid",
"Frida",
"Helga",
"Inga",
"Randi",
"Revna",
"Sif",
"Tove",
"Ulfhild",
"Yrsa",
"Asmi",
"Clement",
"Drew",
"Felize",
"Peregrine",
"Quentin",
"Rogue",
"Stace",

"Asmi",
"Clement",
"Drew",
"Felize",
"Peregrine",
"Quentin",
"Rogue",
"Stace"




	  ]
    ]
  ]
}
