{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },

"Alaric",
"Aldous",
"Archibald",
"Arne",
"Arthur",
"Bahram",
"Bard",
"Konngara",
"Bartholomew",
"Benedict",
"Bertram",
"Björn",
"Burchard",
"Cassian",
"Cathasach",
"Charibert",
"Conrad",
"Crispin",
"Cyprian",
"Daegal",
"Drogo",
"Drustan",
"Dustin",
"Elric",
"Emil",
"Finnian",
"Florian",
"Galileo",
"Gandalf",
"Gerold",
"Godfrey",
"Godwin",
"Gomes",
"Gregory",
"Grimwald",
"Hamlin",
"Hawk",
"Hildebald",
"Jeremiah",
"Kazamir",
"Kenric",
"Lancaster",
"Leif",
"Leoric",
"Lothar",
"Lunden",
"Maurin",
"Morcant",
"Neville",
"Njal",
"Odel",
"Orvyn",
"Osric",
"Pascal",
"Piers",
"Randolf",
"Ricard",
"Svend",
"Theodoric",
"Torsten",
"Wilkin",
"Wolf",
"Wymond",
"Zemislav",

"Asmi",
"Clement",
"Drew",
"Felize",
"Peregrine",
"Quentin",
"Rogue",
"Stace"











	  ]
    ]
  ]
}
