{
  "action" : "actions",
  "list" : [
    {
      "action" : "light",
      "color" : "orange"
    },
	
    {
      "action" : "sound",
      "options" : [
	  "/sfx/hit/gic_smallricochet_1.ogg",
	  "/sfx/hit/gic_smallricochet_2.ogg",
	  "/sfx/hit/gic_smallricochet_3.ogg",	  
	  "/sfx/hit/gic_halflife2_ric5_lowvol.ogg",
	  "/sfx/hit/gic_halflife2_ric5_lowvol.ogg",
	  "/sfx/hit/gic_halflife2_ric5_lowvol.ogg"
	  ]
    },
	
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.1,
      "delaySteps" : 2
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_vehicledustysmoke/gic_vehicledustysmoke.animation",
                "approach" : [20, 20],
                "timeToLive" : 2.0,
				"fade": 0.5,
                "finalVelocity" : [0.5, 0],
                "initialVelocity" : [2, 1],
        "ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
				"size": 0.15,
                "variance" : {
                  "initialVelocity" : [-0.5, 0],
                "finalVelocity" : [-2, 1],
				"size": 0.35,
                  "timeToLive" : 2.5,
                  "rotation" : 360
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/gic_vehicledustysmoke/gic_vehicledustysmoke.animation",
                "approach" : [20, 20],
                "timeToLive" : 2.0,
				"fade": 0.5,
                "finalVelocity" : [-0.5, 0],
                "initialVelocity" : [-2, 1],
        "ignoreWind" : false,
        "collidesForeground" : true,
    "collidesLiquid" : true,
				"size": 0.15,
                "variance" : {
                  "initialVelocity" : [0.5, 0],
                "finalVelocity" : [2, 1],
				"size": 0.35,
                  "timeToLive" : 2.5,
                  "rotation" : 360
                }
              }
            }
          ]
        }
      ]
    },
	
    {
      "action" : "loop",
      "count" : 2,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : { "type" : "ember",
        "color" : [127, 121, 114],
        "size" : 1.5,
        "initialVelocity" : [1.0, 20.5], //1.0, 5.5
      "finalVelocity" : [1.0, -20.5],
                "approach" : [20, 50],
        "timeToLive" : 3,
        "collidesForeground" : true,
        "collidesLiquid" : true,
		"ignoreWind": false,
    "variance" : {
      "finalVelocity" : [-1.0, -20.5],
        "initialVelocity" : [-1.0, 5.5],
      "size" : 0.5
    }
              }
            }
          ]
        }
      ]
    }
  ]
}
