{
  "hail" : {
  
  


    "default" : {
      "default" : [

		
		
"Oh hell, how many men does it take to renovate a few rooms?",
"When we were stationed on the Habitat Rings, they always served Earthern food, I got so sick of it!",
"I'm so hungry.",
"Damn. 10mm socket wrench is missing again.",
"I wish the border would open so we can get more foreign food, I am getting tired of the same old, same old.",
"Broadcast's say Protectors behind all the outpost attacks. Ten thousand credits to the one who stops each one. Imagine what you could do with that much money.",
"You know who I want to kill, that Occasus Asra Nox. That bitch needs to shut the fuck up!",
"It's on us to save this place. We have to make it right.",
"Another day, again.",
"Where the fuck did all our tools go?",
"Gotta shape up.",
"Agh. Sucks here.",
"I feel like I'm melting.",
"At least it's not raining.",
"Today is going to be different. I feel it.",
"I am so tired of listening to your voice.",
"I stopped listening to you five minutes ago.",
"My radio keeps breaking, piece of shit.",
"Cheap Hylotl piece of shit tool.",
"Fucking Hylotl piece of cheap shit.",
"Skimming on cheap fucking Hylotl tools again.",
"Fucking cheapskate, whoever bought these Hylotl tools...",
"This is the best working tool I've ever had.",
"Agh, I lost my socket again.",
"Keep an eye on your stuff, some of the other guys have sticky fingers.",
"Something better happen soon, I'm going crazy.",
"Brandy behind the compressed air tank...",
"This is the slowest way to make money.",
"There's got to be a better way to store tools.",
"Pile of fucking parts. Don't even know what they do.",
"Whoever isn't putting back the tools is going to get an ass-whooping.",
"Seriously, who the hell keeps taking the screwdrivers?",
"Goddamnit, it was in my pocket the whole time.",
"Ah fuck, now I remember where I put that tool.",
"Atleast it's not oil.",
"Should buy some ear protection later.",
"Where did all the tools go again...",
"Lazy cunts...",
"Who the fuck took my spanner?",
"I didn't fucking take it!",
"Something I ate isn't sitting well.",
"Fucking cheap drill.",
"I bet that still wakes you up at night.",
"Saw an ad for some sort of new product. Don't know what is, but I want it.",
"What even is Chirumiru anyways?",
"Who the fuck keeps putting cigarettes in the fucking drinks?"
		
         
		
		
		
		
		
		
		
      ]
    }
	
  }
}