{
  "converse" : {
      "default" : {
          "default" : [
            "Fuck off.",
			"The hell do you need?",
			"Go away.",
			"...",
			"I'm on smoko. What do you need?",
			"Now's not the time, mate.",
			"Mate, I'm having a smoko break.",
			"Fuck off, mate.",
			"Mate, I ain't here to play games.",
			"Nothing to see here, fella.",
			"What are you doing here?",
			"I'll work once smoko's over.",
			"Oi, lunchtime.",
			"Pub's over that way.",
			"Hope the Pub stays open this time, eh?",
			"What do you want?",
			"It's break time, all the time.",
			"Talk to me in the Pub later.",
			"This ain't a pub, yeah? Quit it.",
			"This ain't a pub, sod off.",
			"Sod off.",
			"I don't know you, mate.",
			"Got any lights?",
			"Why don't you go get me a left-handed screwdriver?",
			"Mate, go fetch yourself some blinker fluid.",
			"Make yourself useful, go buy some tools.",
			"Mate, this isn't the time.",
			"I ain't your mate.",
			"Go away.",
			"This isn't the barbie so now's not the time.",
			"The hell do you want?"
          ]
        }
  }
}

