{
  "converse" : {
      "default" : {
          "default" : [
            "People are dying out here.",
			"We're going to die.",
			"Everyone is dying.",
			"If the storm doesn't kill you, the hunger will.",
			"You ever take a look around? Notice something? Particularly, a lack of food perhaps...",
			"There might still be electricity but there's no food around.",
			"I doubt any wildlife remains...",
			"This planet has gone to shit.",
			"Evacuation is off the table with this temperature.",
			"No evac off this rock. Ship engines freeze in this weather.",
			"Another lost soul?",
			"You seem lost.",
			"So why are you here?",
			"Good luck surviving here.",
			"Nothing to eat on this rock.",
			"No food.",
			"Everyone's dead.",
			"You even think we'll live?",
			"This weather won't lift for a few hundred years.",
			"An eternal winter...",
			"You'd have to be blessed to find food.",
			"If it makes you feel any better, there's still electricity here.",
			"Plenty of shelter dots the landscape should The Storm approach.",
			"You see The Storm and you dig in as soon as possible.",
			"Place sucks.",
			"Nothing to see here.",
			"I wonder what we should do...",
			"Hmmm..."
          ]
        }


  }
}

